<div class="bg-light p-4 rounded">
  <!--<h3>Sidebar Single</h3>-->
<p class="lead">
        {{ summary }}
      </p>
<hr>
<h4 class="h6">Related topics</h4>
<p class="small text-muted mb-3">
  {%- set pageTags = tags | filterTagList %}
  {%- for tag in pageTags %}
    {% set tagUrl %}/topic/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url | safe }}" class="link-secondary">{{ tag }}</a>{% if not loop.last %},{% endif %}
  {%- endfor %}
</p>

<br>
<hr>
<small><a href="{{ '/search/' | url }}" >View all topics</a></small>
       
</div>


