<div class="p-4">
  <h3>Keyword list</h3>
  <p>Sorted by popularity</p>
  <p>
    {% include 'snippets/tagslist-partial.njk' %}
  </p>
  <a href="{{ '/search/' | url }}" >View all keywords</a>
</div>
