<!--<div class="bg-light p-4 rounded">
  <h3>Sidebar all Posts</h3>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>


</div>-->

<div class="p-4">
  <h3>Keyword list</h3>
  <p>Sorted by popularity</p>
  <p>
    {% include 'snippets/tagslist-partial.njk' %}
  </p>
  <a href="{{ '/keyword/' | url }}" >View all keywords</a>
</div>
