<ul>
    <li>
        <a href="{{ '/posts/bulletin/when-hoyts-was-hoyts' | url }}">When Hoyts was Hoyts</a>, (27 Jul 1963)</li>
</li>
<li>
    <a href="{{ '/posts/bulletin/the-capitol-and-the-worlds-mightiest-spectacle' | url }}">The Capitol and 'The World's Mightiest Spectacle.'</a>, (25 Jan 1964)
</li>
<li>
    <a href="{{ '/posts/bulletin/when-flappers-fluttered-through-the-flames' | url }}">When Flappers Fluttered Through the Flames</a>, (14 Mar 1964)
</li>
<li>
    <a href="{{ '/posts/bulletin/the-mighty-wurlitzer-rose-in-a-pool-of-light' | url }}">The Mighty Wurlitzer Rose in a Pool of Light.</a>, (09 Apr 1966)
</li>
<li>
    <a href="{{ '/posts/bulletin/the-ghost-of-the-princess' | url }}">The Ghost of the Princess</a>, (30 Dec 1967)
</li>
<li>
    <a href="{{ '/posts/bulletin/alas-poor-tivoli-i-knew-it-well' | url }}">Alas, poor Tivoli, I knew it well.</a>, (15 Apr 1967)
</li></ul>

