<div class="row border-top py-5">
  <div class="col-12">
    <p class="text-center "><img src="{{ '/img/keith.png' | url }}" alt="Image of Keith Dunstan" width="60" height="60" class="mt-1 me-3 rounded-circle mb-3"> 
    <br><small><a href="https://twitter.com/keith_dunstan"><i class="fa fa-twitter" aria-hidden="true"></i>
 Follow us</a> for content updates on this site</small> 
<br><small>We're volunteers, <a href="https://ko-fi.com/jackdunstan">support us</a> to research, digitise, edit to bring this content to a new audience - with a <i class="fa fa-coffee" aria-hidden="true"></i>
</a></small>

<br>
    <br>&copy; Copyright - The literary estate of Keith Dunstan 2021</p>
  </div>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
