<div class="row border-top py-5">
  <div class="col-12">
    <p class="text-center "><img src="{{ '/img/keith.png' | url }}" alt="Image of Keith Dunstan" width="60" height="60" class="mt-1 me-3 rounded-circle mb-3"> 
    <br><small><a href="https://twitter.com/keith_dunstan">Follow content updates on this site</a></small>
    <br>&copy; Copyright - The literary estate of Keith Dunstan 2021</p>
  </div>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
