<div class="row d-flex justify-content-center">
  <div class="col-12">
    {%- for post in posts %}
      <div class="py-4 border-bottom">
        <a href="{{ post.url | url }}" class="text-decoration-none text-dark"><h3 class="h4 mb-1">“{{ post.data.title }}”</h3></a>
        <p class="text-muted small mb-2">Published
          <time datetime="{{ post.date | htmlDateString }}">{{ post.date | postDate(post.data.tags) }}</time>
        </p>

        <p>{{ post.data.summary }}</p>

        <a href="{{ post.url | url }}" class="link-fancy">Read more...</a>

        {% set postTags = post.data.tags | filterTagList %}
        {% if postTags.length %}
          <p class="small text-muted mt-3 mb-0">
            Related topics:
            {%- for tag in postTags %}
              {% set tagUrl %}/topic/{{ tag | slug }}/{% endset %}
              <a href="{{ tagUrl | url | safe }}" class="link-secondary">{{ tag }}</a>{% if not loop.last %},{% endif %}
            {%- endfor %}
          </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

