<article>
      <header class="border-bottom pb-4 mb-4">
        <h1 class="display-3">{{ title }}</h1>
        {% block extraArticleHeader %}
          {% set wc = content | striptags | wordcount %}
          {% set wPerMinute = (wc / 240) + 1 %}
          <aside class="fw-bold">
            {{ wPerMinute | round }}
            min read.
          </aside>
          <p>First published
            <time data-pagefind-meta="date" datetime="{{ page.date | htmlDateString }}">{{ page.date | postDate(tags) }}</time>
          </p>
          {% set publication = categories[0] if categories and categories.length else (page.url | split('/'))[2] | humanizeSlug %}
          <meta data-pagefind-meta="publication[content]" content="{{ publication }}">
         <!-- {%- for tag in tags | filterTagList -%}
            {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
            <a href="{{ tagUrl | url }}" class="btn btn-outline-dark btn-sm me-2">{{ tag }}</a>
          {%- endfor %}-->

        {% endblock %}
      </header>
     <!-- <p class="lead">
        {{ summary }}
      </p>-->
      {{ content | safe }}
      {% set lastUpdated = page.inputPath | gitLastUpdated %}
      {% if lastUpdated %}
        <footer class="pt-4 mt-4 border-top text-muted small">
          Last updated <time datetime="{{ lastUpdated | htmlDateString }}">{{ lastUpdated | readableDate }}</time>
        </footer>
      {% endif %}
    </article>
