 <ul>
    <li><a href="{{ '/posts/walkabout-magazine/bird-watching/' | url }}">Bird Watching </a>, (1 February 1962)</li>
     <li><a hrex="{{ 'https://nla.gov.au/nla.obj-752698903/view?sectionId=nla.obj-755713101&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-752705174#page/n12/mode/1up' | url }}">Paddy's Market to Luxury Hotel</a>, (1 July 1962)  </li>
    <li><a href="{{ '/posts/walkabout-magazine/rough-riding-for-five-minutes-a-year/' | url }}">Rough-Riding for Five Minutes a Year</a>,  (1 September 1962)  </li>
      <li><a hrex="{{ 'https://nla.gov.au/nla.obj-752720420/view?sectionId=nla.obj-755742334&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-752746185#page/n46/mode/1up' | url }}">Epicurean Melbourne</a>, (1 December 1962)  </li>
    <li><a hrex="{{ 'https://nla.gov.au/nla.obj-749191032/view?sectionId=nla.obj-753891969&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-749192852#page/n11/mode/1up' | url }}">Freedom of Beach</a>, (1 January 1963) </li>
  <li><a hrex="{{ 'https://nla.gov.au/nla.obj-749231417/view?sectionId=nla.obj-753902684&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-749237094#page/n15/mode/1up' | url }}">From Prickly Pear to Petroleum</a>, (1 July 1963)  </li>

<li><a hrex="{{ 'https://nla.gov.au/nla.obj-749261896/view?sectionId=nla.obj-754298682&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-749278454#page/n15/mode/1up' | url }}">Christmas Across the Continent</a>, (1 December 1963)</li>
<li><a hrex="{{ 'https://nla.gov.au/nla.obj-754186112/view?sectionId=nla.obj-756034693&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-754195385#page/n11/mode/1up' | url }}">Melbourne's Evergreen Exhibition</a>, (1 May 1964)  </li>
    <li><a hrex="{{ 'https://nla.gov.au/nla.obj-753332440/view?sectionId=nla.obj-755915994&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-753365495#page/n20/mode/1up' | url }}">Adventures of a Would-be Wine Snob</a>, (1 December 1964) </li>
    <li><a hrex="{{ 'https://nla.gov.au/nla.obj-751853612/view?sectionId=nla.obj-755148206&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-751874556#page/n13/mode/1up' | url }}">Battle of the Flowers</a>, (1 May 1965) </li>
    <li><a hrex="{{ 'https://nla.gov.au/nla.obj-746553310/view?sectionId=nla.obj-746942796&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-746576225#page/n29/mode/1up' | url }}">Melbourne Cup Winners, Horses or Hats?</a>, (1 October 1966) </li>
    <li><a hrex="{{ 'https://nla.gov.au/nla.obj-746553501/view?sectionId=nla.obj-746999774&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-746610308#page/n17/mode/1up' | url }}">1966 and All That</a>, (1 December 1966)  </li>
    <li><a hrex="{{ 'https://nla.gov.au/nla.obj-752011864/view?sectionId=nla.obj-757695112&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-752018774#page/n13/mode/1up' | url }}">The Bikini - What's next?</a>, (1 January 1968) </li>
    <li><a hrex="{{ 'https://nla.gov.au/nla.obj-752046127/view?sectionId=nla.obj-755511071&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-752050581#page/n17/mode/1up' | url }}">A Year of Anti-Football Protest</a>, (1 April 1968)</li>
    <li><a hrex="{{ 'https://nla.gov.au/nla.obj-752202777/view?sectionId=nla.obj-755656259&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-752207999#page/n33/mode/1up' | url }}">Beef Boom in Tombstone Territory</a>, (1 October 1968)</li>
    <li><a hrex="{{ 'https://nla.gov.au/nla.obj-752202819/view?partId=nla.obj-752218511' | url }}">Collins Street Charm</a>,(1 December 1968)  </li>
    <li><a hrex="{{ 'https://nla.gov.au/nla.obj-744150074/view?sectionId=nla.obj-744601021&searchTerm=%22Keith+Dunstan%22&partId=nla.obj-744185690#page/n11/mode/1up' | url }}">Walkabout Profile - Dr. Jean Battersby</a>, (1 May 1969)   </li>
 <li><a href="{{ '/posts/walkabout-magazine/summer-madness/' | url }}">Summer Madness</a>, (1 December 1969)   </li>
    
</ul>