
{%- set walkaboutTopics = collections.walkabout | topTopics(15) %}
{%- if walkaboutTopics.length %}
<p class="text-muted small">
  <strong>Top topics:</strong>
  {%- for topic in walkaboutTopics %}
    {% set topicUrl %}/topic/{{ topic.tagName | slug }}/{% endset %}
    <a href="{{ topicUrl | url | safe }}" class="link-secondary">{{ topic.tagName }}</a>{% if not loop.last %},{% endif %}
  {%- endfor %}
</p>
{%- endif %}
