 <ul>
    <li><a href="{{ '/articles/walkabout-magazine/bird-watching/' | url }}">Bird Watching </a>, (1 February 1962)</li>
    <li><a href="{{ '/articles/walkabout-magazine/rough-riding-for-five-minutes-a-year/' | url }}">Rough-Riding for Five Minutes a Year</a>,  (1 September 1962)  </li>
 <li><a href="{{ '/articles/walkabout-magazine/summer-madness/' | url }}">Summer Madness</a>, (1 December 1969)   </li>
    
</ul>