---
title: William Charles Wentworth IV
date: 1980-11-11
summary: Profile of Billy Wentworth, the maverick Liberal MP and self-declared anti-Communist crusader, descendant of the colonial statesman of the same name, whose eccentric career spanned a mock 'Battle of Cronulla' in WWII to a ministry under John Gorton.
tags:
  - William Charles Wentworth
  - Sydney
  - Sir Robert Menzies
  - John Gorton
  - Cronulla
  - Mackellar
  - H.V. Evatt
  - Kylie Tennant
  - Les Haylen
  - Southern Aurora
  - Oxford University
---
<strong>W</strong>ILLIAM CHARLES WENTWORTH IV gets all sorts of titles — 'the maverick intellectual', 'the political gadfly', 'the paranoid Red-baiter', 'the one honest man in Parliament'... he is by no means the least of the Wentworths.<br><br>
Of course, his great grandfather William Charles Wentworth I was a giant of a man. It was he who gave to the people of New South Wales freedom of the Press, trial by jury, the right to elect their own representatives and what's more, he was the founder of the Australian Constitution.<br><br>
He had one intriguing idea. In 1853 as chairman of a select committee on a new constitution for New South Wales he recommended that the colony should have its own House of Lords. Mr Wentworth said that these gentlemen because 'of their birth, leisure and superior education' would lay the foundation of an aristocracy and would lay the foundation for an upper house which would be a close imitation of the House of Lords. Furthermore it would serve as 'inducement to respectable families to stay in the colony and for upper classes of the United Kingdom to emigrate.'<br><br>
The idea went through the first reading stage on 9 August 1853, but it was not well received in Sydney. There was a series of protest or indignation meetings — four thousand at the Victoria Theatre in Sydney and a 'monster gathering' of nine thousand in the old Government grounds near Circular Quay.<br><br>
<i>The Empire</i> newspaper wanted to know whether Mr Wentworth had finally gone out of his mind. 'Do Englishmen of the nineteenth century want a House of Lords, an imitation of the Parliament of King Kamehameha?... It is a painful example of the miserable dotage into which the human intellect may sink.' Public hostility was so lively the aristocracy movement quietly died and Mr Wentworth's idea for a House of Lords disappeared from the Bill.<br><br>
Had Sydney been more sympathetic William Charles Wentworth IV might have inherited an illustrious title like Lord Vaucluse or Viscount Pittwater, which would have made it difficult for him to become the political gadfly, W.C. Wentworth MHR. However, more than one feature writer has drawn parallels between William Charles Wentworth I and William Charles Wentworth IV. William Charles Wentworth I was tall, he stuttered, growled, fumbled with his spectacles when called upon to speak. He was credited with the quote: 'There is within me a pool of lava which ever and anon boils over, and which I cannot keep down. This is the infirmity of my nature rather than the fault of my intentions.'<br><br>
William Charles Wentworth IV is small, peers dimly through thick-lensed glasses, his clothes have that crumpled look so dearly loved by the grouse shooting aristocracy. His accent is patrician, he is a fluent speaker and when amused is likely to be guilty of a high-pitched giggle. Yet he possesses a fair pool of lava and in full cry he tends to blurt his words. Harold Holt once called him a human cyclotron.<br><br>
William Charles Wentworth I was packed off to England to read law at Cambridge. William Charles Wentworth IV was packed off to England to read Classical Mods and Greats at Oxford. He studied politics, economics and philosophy, and won an honors degree. When one looks at him now, somewhat overweight, carrying his untidy mop of grey hair, it is interesting to recall that he scored a blue for athletics and ran the half mile in 1.57.<br><br>
He returned home in 1930 and worked in Lever Brothers soap factory in Balmain, first as a factory hand and then as a clerk. It must have been refreshing to have had a soap maker with an Oxford accent. But very early he had his eye on law making. He scored a job as secretary to the Attorney-General of NSW, Sir Henry Manning; then economic adviser and publicity officer to the Premier, Sir Bertram Stevens.<br><br>
Always he had a marvellous gift for the unconventional. In 1935 he proposed to his wife over the telephone. According to the Sydney newspapers it was the longest telephone call on record. When he made the proposal his bride, Barbara Chisholm Baird of Mona Vale was visiting Mexico.<br><br>
His unusual behavior went even further in 1939, he wrote a little book, 168 pages, titled <i>Demand for Defence</i>. Here he looked at Australia's position in the Pacific. He pointed out the utter foolhardiness in depending on Singapore as a guardian fortress. He gave clear warning about Japan and called for the immediate production of aircraft and munitions at the rate of 300 million dollars a year. That was a terrible sum of money and nobody wanted to listen to the strange Mr Wentworth.<br><br>
Yet unquestionably the most remarkable display of his unique gifts came in the Army. After the outbreak of war he joined the AIF as a private, but with his poor eyesight he had no hope of going away. He was relegated to home defence. He was commissioned in 1940 and by 1942 he was a captain in the 45th Battalion with the job of protecting the New South Wales Coast from Botany Bay to Stanwell Park. His achievement in the famous Battle of Cronulla could well provide the script for a movie easily as dramatic as <i>The Longest Day</i>.<br><br>
Captain Wentworth had long been unimpressed by local defences and he was delighted when the Army gave him a force of seventy men and told him to carry out a mock attack on Sydney. He had taken note of the brilliant infiltration methods that the Japanese used in Malaya and he decided that the war was not really conducted by the nice rules adopted by the Anglican Synod.<br><br>
The Battle of Cronulla went unrecorded by the war correspondents and all accounts were mixed and inaccurate until April 1960 when Fred Daly MHR told the House that the Cronulla battle caused more embarrassment than any other manoeuvre in World War 2 and Mr Wentworth for his part had been cashiered out of the Army.<br><br>
Mr. Wentworth was still saying nothing about this episode. Instead he sent the reporters to Dr W.E.H. Stanner, an anthropologist at the Australian National University. He had been there and he would give them an unbiassed story.<br><br>
Dr Stanner said it all began at 8.30 p.m. one night in February or March 1942. He was a research officer for the Minister for the Army and Captain Wentworth invited him along as a friend. The theory was that they had landed from the sea and first they had to pick their way through wire and picket defences on Cronulla Beach. This was the tale:<br><br>
'Sometime before 9 p.m. Captain Wentworth in uniform, and myself, in civilian clothes were making our way over back fences and through back streets. At this time Captain Wentworth had a series of improvised ideas, and told the men to rendezvous at a point by whatever means available.<br><br>
'They stole two buses and an Army vehicle, which had been taken from a pool without authority by some officers who were at the pictures with their girls. Then Captain Wentworth in his carefully simulated broken Japanese accent, rang the fire brigade from a phone box.<br><br>
'He said there was a very large fire at Sylvania (near Cronulla) and very soon the brigade raced out to the fire. Then Captain Wentworth rang the police and said "Get down to Oyster Bill's (a cabaret at Tom Ugly's Point). There's a crowd of soldiers wrecking the place."<br><br>
'Finally he rang the emergency service and said there was a report of an enemy force landing. When the service arrived we bailed them up with bayonets. The next thing I can remember is being at the battalion headquarters of the area. Captain Wentworth posted his men with token machine guns and into my hand were placed a number of sticks of gelignite.<br><br>
'I lit one, and threw it — it made a beautiful fat thundering noise. Out came the Colonel — he shall be nameless — in his pyjamas. Captain Wentworth said: "You're my prisoner." The colonel fumed and put up considerable protest, but could only surrender. There was a sentry with a rifle loaded with ball, and I thought it was getting a little dangerous. I thought, suppose he lets fire — what will I say to the Minister in the morning?<br><br>
'But we captured the HQ and Captain Wentworth gave orders over the switchboard — adding to the confusion. Then we were lying in grass up to our ears. A sentry guarding an ammunition dump was about 30 paces away. I threw another stick of gelignite as token destruction of the dump.<br><br>
'Soon after I heard a "wham" and Captain Wentworth said "That's the wireless station." Captain Wentworth then went off and blocked the railway line to prevent reinforcements arriving. He short-circuited the signals system by putting copper rods between the rails... trains were out of order for thirty-six hours.<br><br>
'Then we commandeered five Bren gun carriers, and we drove to the ordnance depot at Liverpool. We got past the single sentry, and Captain Wentworth put up a sticker — "Destroyed by W.C. Wentworth, Captain."<br><br>
'The next morning there were a lot of extremely red faces. I was in the Minister's office when the General, also nameless, arrived. I don't know what went on — but I thought if only the General knew I had been one of those throwing gelignite. The exercise proved that a small determined force could have taken the area — because our defences were not co-ordinated.<br><br>
'If it had been a real action Captain Wentworth should have been dead or a VC. I would have given him a month's imprisonment and then sent him where his talents could have been used. Instead the Army discovered he had a serious eye defect and retired him.'<br><br>
W.C. Wentworth had done such unforgiveable things as interfere with the public transport system and for the rest of the war his only military activity was to dabble in the Volunteer Defence Corps.<br><br>
In 1943 he stood against E.J. Harrison, later Sir Eric Harrison and a leader minister in the Menzies Government. Harrison was the member for Wentworth and there was something tidy about Mr Wentworth standing for Wentworth. Very early he developed a trait, infinitely dangerous for a politician, he believed in thinking for himself and once he had made up his mind he would not yield to outside pressures.<br><br>
He was an Independent Nationalist candidate and in his first political campaign he announced that 'the bulk of electors are sick to death of parties and can see no security in the party system as it now stands.' He wanted those who were in favor of a national government to wear sprigs of wattle in their coat lapels. Then at a North Bondi meeting he announced that the best service Mr Robert Gordon Menzies could give to the war effort would be 'to get out of politics.'<br><br>
From that time on Menzies and Wentworth were never exactly friends.<br><br>
W.C. Wentworth polled third amongst the candidates and Mrs. Jessie Street, Labor, just failed to defeat E.J. Harrison.<br><br>
Mr Wentworth for more than 30 years had the reputation of being Australia's number one anti-Communist, as a man who would almost 'froth at the mouth' at the mention of the word Red. He told Helen Frizell of the <i>Sydney Morning Herald</i> that it all began in 1939 when Hitler and Stalin made their pact. 'I believed then — and still believe — that Communists and Nazis are virtually the same. Communism is a real threat and remains so.'<br><br>
The attacks were there from the beginning of his political career. In September 1943 he attended a Communist organised 'Let's-have-a-second-front-in-Europe' rally at the Sydney Town Hall. Wentworth forced his way on to the platform and was ejected from the meeting. The trouble began when he tried to move 'that instead of a European second front Russia should be called upon to open a second front against Japan.' He thought that the Russians should be playing host to the Americans providing them with air bases so that they could bomb Tokyo. He made reference to all the Fifth Columnists of 1940, now our friends, and said: 'Only a few days ago Russia went to the length of interning American fliers forced down on Soviet territory after operations against the Japanese. Are we going to allow farces of this kind to continue?'<br><br>
Prime Minister Chifley's plan to nationalise the Banks was perfect for him. He was able to announce that at the Bolshevik Conference in 1917 Lenin said: 'We are all agreed that the fundamental first step... must be such measures as the nationalisation of the banks.'<br><br>
In 1949 R.G. Menzies won in a landslide and W.C. Wentworth, now a Liberal man, stood for the new seat of Mackellar and won easily. The political writer for the <i>Argus</i> passed some cynical comment: 'It must be pleasant as a newcomer to Federal politics to be presented with a blue-ribbon seat. Such a fortunate one is Mr William Charles Wentworth. I have recollections of a visit to Melbourne by Mr Wentworth a number of years ago, when on his arrival in this city, he directed the taxi driver to take him to the Melbourne Club. The preposterous fellow took him to the Melbourne Club Hotel in Exhibition Street. Mr Wentworth is a great harrower of the Comms. The Liberal Party says he has a "profound inside knowledge of Moscow's agents in this country," so we can take it there will be some hot stuff when he catches the Speaker's eye.'<br><br>
The <i>Argus</i> man was so right. In double quick time he had made accusations that the Communists had infiltrated the Post Office, that University lecturers were Red-tainted, and there were splendid clashes with Mr Eddie Ward, the Labor member for East Sydney. Wentworth called him 'that notorious pro-Communist'. Then Mr Les Haylen asked if it was true that Mr Wentworth's commanding officer had once told him to get on a motor bike, head for the Brisbane Line and lose himself.<br><br>
He almost called the Secretary-General of the United Nations, Mr Trygve Lie, a liar. Mr Lie had been to Moscow to confer with Stalin and Mr Wentworth announced that 'Mr Lie generally lined up with Russian plans.'<br><br>
But one of his more spectacular attacks was on Dr Evatt, a former President of the United Nations. He described Dr Evatt as a Communist sympathiser and the chief architect of the coming world disaster. He did then what he was to do often in years to come. The Opposition accused him of hiding behind Parliamentary Privilege, so he repeated his charges outside the House.<br><br>
As one gallery reporter described it: 'Amid cheers, laughter and angry interjections he marched from the chamber in the centre of a milling crowd through King's Hall and down the front steps to the roadway. In bright sunshine and before clicking Press cameras he solemnly read a transcript of his speech. He began:<br><br>
'My opinion in regard to Dr Evatt's associations with Communist policies were formed only after a careful examination of his activities and associations, stretching back over many years, and are the basis of the view that I have consequently formed as to his character. Furthermore, not only do I believe in the truth of what I say, but I hold it to be in the public interest that it should be said.<br><br>
'I have no proof that Dr Evatt has ever been a member of the Communist Party, and I have never accused him of so being. But I do accuse him of having too often adopted policies and tactics which were in fact in the Communist interest.'<br><br>
The uproar was splendid. Mr Bryson, Labor, called for two doctors to examine Mr Wentworth. Mr Pollard sprang to his feet and shouted to the Speaker that Mr Wentworth was not entitled to reflect in that way upon a member. Mr Rosevear moved a motion of no confidence in the Speaker, Mr Cameron, for allowing Mr Wentworth to speak without leave of the House.<br><br>
Dr Evatt described Mr Wentworth's attack as 'monstrous'... 'the outpouring of a distorted mind or a black and malevolent heart.'<br><br>
In another debate Mr Peters, a Labor member for Victoria, called Mr Wentworth the Robespierre of the Liberal Party. 'He would declare everybody Communists,' he said. 'He was almost unique in these brave offers to waive privilege. Once he offered to do it just to prove to the world that he was wrong. He had attacked the Commonwealth Literary Fund and he named Kylie Tennant as a Communist. Miss Tennant said the charge was untrue. She had been a member of the Communist Party for one month only and that was twenty years ago. As for the Commonwealth Literary Fund, she returned the cash to the Government.<br><br>
Mr Wentworth announced in the House that he had been wrong in his statements about Kylie Tennant. He apologised, he offered to make a statutory declaration that he had made the statements outside the House and if Miss Tennant wished to sue hime for damages she could do so.<br><br>
'I couldn't be bothered, I'm too busy,' said Kylie Tennant.<br><br>
He baffled almost everybody. What could you do with the man? Theoretically he had the talent for an immediate senior role in the ministry. What other member of the Government had such a sound knowledge of finance, industry, social welfare. Political writer Alan Reid put it best: 'He is that unnerving mixture of prophet and demagogue, or private sleuth and original thinker, and of eccentric and near genius.'<br><br>
It is unusual for a backbencher ever to be noticed beyond his electorate, but Billy Wentworth — the Press always called him Billy — was for ever in the news. In late November 1961 he made every front page in the nation. Thirty-two Australian intellectuals sent an open letter to all political candidates asking them to state their attitude to nuclear testing and warfare.<br><br>
Billy Wentworth was the only one to reply in style. He sent a telegram to 104 Federal Members and each one contained 561 words. That was a grand total of 58,344 words — cost to the Government, £728.<br><br>
His telegram demanded that an international body should watch over nuclear weapons. 'Disarmament without international authority, which must have full powers of inspection and sanction is a mere sham,' he said.<br><br>
There were shocked leading articles about the suffering taxpayer, cries of fury from the Opposition, and learned background pieces from the elders of the Press Gallery saying that Parliament had gone into dissolution so Mr Wentworth was 'Not a Member of Parliament' when he sent those telegrams. The least concerned of all through this was Mr Billy Wentworth himself, who announced that he would pay the £728 out of his own pocket.<br><br>
Despite many an explosive battle inside and outside of Parliament, despite the frequent fury of R.G. Menzies, it was impossible to suppress his original brain and his influence was considerable. He took a leading part in establishing Australia's first nuclear reactor. Even that caused some excitement. When seeking information he made a direct telephone call to Washington, outrageous behavior from a backbencher. The Speaker, Mr Cameron, vetoed payment from the Parliamentary accounts and the Prime Minister had to intervene to ease the battle.<br><br>
He led a successful campaign to improve the Commonwealth banking legislation, he taunted the Government with a private members bill on Civil Defence, but his most useful campaign was on the standardisation of the railway gauge. Australia went through two world wars with the States literally divided into six different islands. It was impossible for a train to go from Queensland to New South Wales to Victoria to South Australia without hitting a different gauge in every State. It turned Australia literally into a world curiosity, and visiting feature writers loved it — the arrangement was so bizarre.<br><br>
Government after Government ignored the problem because the cost of changing over always seemed too horrific, and besides it was always easier for the Commonwealth to shuffle off the problem to the States and for the States to say it had nothing to do with them — send it back to the Commonwealth.<br><br>
Wentworth started this campaign as far back as 1949 when first he became the member for Mackellar. He took a railway engineer and went along the broken gauge between Melbourne and Sydney. Occasionally he used a car but he did much of his study on foot. There was something appropriate in this because the illustrious W.C. Wentworth I was in the party that made the first crossing of the Blue Mountains in 1813.<br><br>
He kept hammering it in Parliament, hammering it in newspaper articles. In 1956 he produced a fifty-page report, which was an ingenious and complete plan which would do the job for £30 million. This time he achieved the smartest of Wentworth coups.<br><br>
He was chairman of a Liberal Party committee of nine backbenchers. It was not a Parliamentary committee and it had no official standing. E.H. Cox of the <i>Herald</i> said the committee would never have been set up had the Government been able to prevent it.<br><br>
Yet in some ingenious way this unofficial report was printed at Government expense by the Government printer and presented to Parliament as if it were an official Parliamentary document. Cox said that the Menzies Government would have vetoed the report, but for one thing, the Wentworth committee had the backing of the Labor Party which wanted to see the whole affair debated.<br><br>
The report was so good the railway system came into being almost exactly as conceived by that unofficial committee. But it was never easy getting the money. Alan Reid recalls that it was all a matter of delicate timing. Wentworth would wait until Menzies was away on some mission and Sir Arthur Fadden would be acting Prime Minister. This was very crafty because there was a nice rapport between Fadden and Wentworth, so he always got the money.<br><br>
Yet Menzies spoke very graciously about Wentworth at the inaugural dinner which preceded the first straight through trip — the <i>Southern Aurora</i> on 12 April 1962. He said it was Wentworth and his committee that had made the whole thing possible.<br><br>
But there is always drama with the Wentworths. W.C. Wentworth was not there at the inaugural dinner. Mrs Wentworth was. She went from the dinner to Central Railway Station and she carried a large placard:<br><br>
<div class="text-center">
WHERE'S<br>
WENTWORTH<br>
?????????
</div><br>
Wentworth was in Parliament House, Canberra, because the Labor Party refused to grant him a pair. As soon as the House rose in the early morning, he caught a taxi, drove sixty miles to Goulburn and in the dawn hours just managed to board the <i>Southern Aurora</i> as it came in.<br><br>
Through the years there were continuing running skirmishes against old adversaries like Eddie Ward, Les Haylen, Dr Jim Cairns and Senator Cameron. Frequently he was named and there were more occasions when he made his charges then repeated them again out on the front steps.<br><br>
One of the more spectacular battles took place in May 1963 and Press Gallery reporters described it as the most chaotic night for fifteen years. It all began when Mr Wentworth was speaking during a Supply Bill. He said: 'The only possible enemy in the world today is the Communist enemy. In any conflict the struggles which divide the Labor Party must make it incapable of forming a Government because a considerable section of the Labor Party is on side with our enemy and therefore against us.'<br><br>
From then on there was uproar. 'He is saying we are traitors, saboteurs,' shouted one Labor member. Mr Gordon Bryant then spoke about another William Charles Wentworth, his powers of invective, his predilection for name calling... 'The clan was no better then.'<br><br>
Wentworth rose again. Now there was complete uproar. '<i>Heil Hitler, Heil Hitler.</i>' There were cries and counter cries of 'Communist. Fascist.' and cockledoodle doos. There were thirty-six schoolboys in the gallery, taking in their National Parliament for the first time, and they looked down with considerable wonder.<br><br>
While Mr Wentworth was making an emotional reply he did not notice that Les Haylen, the Labor member for Parkes, was standing just behind his right shoulder, motionless and impassive. He was dressed to look like a mental home attendant. He had borrowed a waiter's white jacket and put it over his shirt. For a moment Wentworth did not notice him, then with mock deference Haylen said: 'Your green cart is waiting, Sir.'<br><br>
There were yells of laughter from both sides and the Speaker temporarily expelled Les Haylen from the House. That scene could have been humiliating, but derision was something that never worried him — he was so convinced he was right.<br><br>
He campaigned for the abolition of the means tests — for twenty-five years. He fought for open cut coal mining to provide cheap coal for Japan when the idea was just a joke. Almost every year he set out with his wife on long treks through the North to make contact with the Aborigines under tribal conditions. He believed that his setting up of Canberra's Institute of Aboriginal Studies was his finest achievement.<br><br>
At last in 1968 Billy Wentworth received his chance. Neither Menzies nor Holt would have him — he was best left in the outfield, well out of harm's way. But during Christmas 1967 the Gortons were house guests of the Wentworths and they relaxed together at Pittwater. John Gorton and W.C. Wentworth both were Oxford graduates and both went into Parliament almost at the same time. It was immediately after his stay with the Wentworths that John Gorton announced he was a candidate for Prime Minister.<br><br>
So the following March W.C. Wentworth IV became Minister for Social Services and Minister in Charge of Aboriginal Affiars. The Cabinet for most rebels in politics is like a dog obedience school, as soon as they come into the pen they have to do what they are told. Not Mr Wentworth. In 1972 Laurie Oakes of the <i>Sun News Pictorial</i> wrote: 'He is still conducting his campaign and his technique is just as unsubtle as it ever was.'<br><br>
As soon as he took over the Aboriginal ministry he ran into full scale opposition from Northern Territory and Country Party interests when he tried to give Land Rights to the Gurindji tribe at Wave Hill. In 1972 he publicly clashed with the Treasurer, Bill Snedden, over his ideas on abolition of the means test and a national superannuation scheme. Mr Snedden said the cost of removing the means test would be $400 million a year. Mr Wentworth said he was wrong — the net cost would be $200 million, well within Budget capabilities. Mr McMahon reportedly was furious and said Mr Wentworth was inclined to 'think with his heart not his head.' Maybe the National Superannuation Scheme would have helped McMahon in the coming Federal election but his Government sank to oblivion in the wake of the Whitlam-Labor triumph. Billy Wentworth was never to receive another portfolio.<br><br>
For the rest of his career in politics he followed the same consistent line he had shown all his life — Anti-Communist and extremely sensitive on matters concerning Aboriginals, economics and the rights of pensioners.<br><br>
When Mao Tse Tung died all other politicians echoed the fashionable, correct sentiments, not W.C. Wentworth. He told an astonished House that Mao was another Genghis Khan and that the new golden horde 'will have nuclear weapons strapped to its saddles.' He compared Mao to Hitler and said he had 'murdered a thousand times as many of his own countrymen.'<br><br>
Under the Fraser Government he became increasingly critical. Many times he said the Federal Treasurer, Mr Lynch, should be sacked and that the economic policies were creating stagnation and unemployment rather than economic recovery from the recession. In October 1977 he resigned from the Liberal Party and said that he would stand for the Senate in the December elections. 'I can no longer support the Government's economic doctrine of salvation through stagnation,' he said.<br><br>
Of course, he was committing hari kari, with no party to back him he had no hope of getting into the Senate and he went. On that polling day December 10, 1977 his political career was over and a remarkable number of politicians of various shades were sorry. The <i>Age</i> in Melbourne commented: 'His aggressive attitude towards Communism, real or imagined, domestic or foreign, will have struck many people as more appropriate to a past decade. But the total record shows more than the old conservative warrior given to the odd display of eccentricity. William Wentworth has an enviable human side which has enabled him, in some respects, to span the political spectrum. He has been an essentially honest gadfly. Any House is the better for the presence of his kind.'
<hr>
SOURCES:<br>
The <i>Empire</i>, 29 July 1853.<br>
The <i>Empire</i>, 3 August 1853.<br>
<i>Sydney Morning Herald</i>, 13 July 1972.<br>
<i>Smith's Weekly</i>, 14 August 1943.<br>
<i>People</i>, 12 August 1953.<br>
The <i>Herald</i>, 5 April 1960.<br>
<i>People</i>, 12 August 1953.<br>
<i>Sydney Morning Herald</i>, 13 July 1972.<br>
The <i>Herald</i>, 1 October 1943.<br>
The <i>Argus</i>, 8 September 1947.<br>
The <i>Argus</i>, 1 December 1949.<br>
<i>Sun</i> News Pictorial, 5 May 1950.<br>
The <i>Age</i>, 6 May 1950.<br>
The <i>Herald</i>, 9 March 1951.<br>
<i>Sun</i> News Pictorial, 1 May 1950.<br>
The <i>Herald</i>, 24 September 1952.<br>
Ibid, 25 September 1952.<br>
The <i>Argus</i>, 22 March 1955.<br>
The <i>Age</i>, 30 November 1961.<br>
<i>Truth</i>, 9 December 1961.<br>
The <i>Herald</i>, 2 December 1961.<br>
<i>Sun</i> News Pictorial, 6 December 1961.<br>
E.H. Cox, The <i>Herald</i>, 9 December 1956.<br>
Alan Reid, The <i>Bulletin</i>, 22 October 1977.<br>
The <i>Age</i>, 13 April 1962.<br>
The <i>Age</i>, The Herald, 3 May 1963.<br>
<i>Sun</i> News Pictorial, 28 June 1972.<br>
Allan Barnes, The <i>Age</i>, 30 June 1972.<br>
The <i>Financial Review</i>, 15 September 1976.<br>
<i>Sun</i> News Pictorial, 12 October 1977.<br>
The <i>Age</i>, 13 October 1977.
<hr>
Continue to the next chapter: <a href="{{ '/books/ratbags/11-prince-leonard-of-hutt' | url }}">Prince Leonard of Hutt</a>
