---
title: Frank Thring
date: 1980-11-11
summary: Profile of actor Frank Thring, son of Hoyts cinema magnate F.W. Thring, tracing his path from EFFTEE radio studios and his own Arrow Theatre to Stratford with the Oliviers, Hollywood toga epics, and a scandalous career as Melbourne's harshest drama critic.
tags:
  - Frank Thring
  - Melbourne
  - Toorak
  - Regent Theatre
  - Francis William Thring
  - Laurence Olivier
  - Vivien Leigh
  - Joan Cunliffe
  - Ben Hur
  - Titus Andronicus
  - Melbourne Grammar School
  - Q Theatre
---
<strong>F</strong>RANK THRING at an opening night has a presence, an imposing majesty. He stands six feet two inches, sixteen or seventeen stone and always he is in black, black open-necked shirt, black trousers, black shoes and even dark glasses. His head is bald, the remaining circlet of hair is almost shaved and he surveys the scene with the superiority of a vintage monarch, perhaps wondering which heads should be lopped. You could see him on a horse in armour, terrifying as Genghis Khan, although oddly enough he hasn't been Genghis Khan.<br><br>
There have been lots of others. He has been Pontius Pilate, Herod, Dracula, the Moorish tyrant Al Kadir in <i>El Cid</i>, the Devil, Nero, a chief in the Gestapo, the strange Captain Ahab in <i>Moby Dick</i> and <i>Othello</i> so often he practically is the Moorish king.<br><br>
Of course, in the eyes of Melbourne suburbia Frank Thring was born not far from royalty. His father was Francis William Thring, managing director of the Hoyts cinema group at a time when the flickering image of Ronald Colman, Charlie Chaplin at the local picture house was the most breathtakingly important event of the week.<br><br>
Picture palaces were literally just that, some built to look like the throne house of some Arabian potentate, some looked like Buddhist temples and others like the ultimate in Florentine art.<br><br>
Frank Thring was born in 1926 and very nearly his first memory was the opening of Melbourne's Regent Theatre on March 15, 1929. Its architecture was described as Gee Whiz Hoyts as it contained everything from copies of the Elgin Marbles through to huge chandeliers imported from Italy.<br><br>
The <i>Herald</i> that day brought out a special supplement. 'The greatest theatrical event in the world for 1929', it said. 'Tonight 3500 people will witness a revelation. When you have seen the Regent, when you have sat spellbound by the pageant of stars on the screen, music and stage you will truly know the new entertainment that delights London and New York.'<br><br>
They had Ronald Colman and Vilma Banky in a performance 'that will wipe out the memory of the finest show you ever saw', the Regent ballet of sixteen, the syncopating stage band, the Regent concert orchestra of forty-five, and 'the Mighty Wurlitzer.' The Wurlitzer price £30,000, had 284 stops, 560 separate movements, 2,500,000 electric connections, and every gadget from a full range of drums and cathedral chimes through to a grand piano, which used to play pneumatically on its own on the stage. The organist wore a white tuxedo and the mighty Wurlitzer rose hydraulically and magically from out of the bowels of the theatre in a pool of white light.<br><br>
And young Frank was there. He said: 'The Thring family sat in one of those grand little alcove boxes. And I remember the last minute preparations with my rushing round putting gladdies everywhere.'<br><br>
Frank Thring talks in a precise declamatory style. Everything he says has theatrical timing as if he were on stage. It is important in every sentence to emphasise one particular word.<br><br>
'Father made trips to Europe looking for <i>priceless</i> antiques, Lalique vases, gorgeous Florentine tables and he'd scatter them about the foyer. That's what makes me so <i>furious</i> when they try to preserve the place now. <i>Really</i> it's all gone. All that is original is from Collins Street to the front foyer. It was all burnt down in 1945 and it's not the original <i>beautiful</i> place it was.<br><br>
'I remember them ringing our house at three in the morning to tell us it had gone up. A burning cigarette left under a seat started it all... something absurd like that.'<br><br>
Frank Thring still lives in the grand two storey mansion that his father built in Toorak Road, Toorak. It was a world of chauffeur-driven cars, nannies, maids, gardeners and brilliant receptions.<br><br>
'When my father built the house the Toorak tram finished at Orrong Road, This was the Styx and out there beyond Glenferrie Road was <i>practically</i> sheep pastures.'<br><br>
Thring remembers very little of his father. He died when he was ten years old, but the influence is still there... The house is very much the old SE2, high brick wall, huge old leafy trees providing privacy from the horror of the surrounding flats. Inside there is a fine range of antiques... 'We have had the valuer in. You just couldn't put a price on some of these things... Mother rescued a lot of them before father had time to put them into his picture theatres. Look at this vase. See the bottom there, signed by Lalique. When it was merely done by one of his minions, then it had "Lalique" nothing more. But this has the signature "Rene Lalique" which means it was made by the master himself. <i>Priceless</i>.'<br><br>
The theme color inside is black — black carpet, black settees and his bedroom, but for a little illuminated alcove showing off carved coral figurines from Taiwan is black, floor, walls, ceiling, everything. Yes, Thring like the Bela Lugosi and the Boris Karloff of the classic horror era rejoices in being sinister and his bedroom is a sensational black pit.<br><br>
But he doesn't entirely see it that way. 'Black is a background, in decor it is so perfect for showing things off. Look what it does for my zebra skin rugs, the gold wall paper, the chandeliers, my Ken Rowell costume designs. I wear black for the same reason because I <i>adore</i> to wear gold jewellery.'<br><br>
Mr Thring on this occasion was wearing black shirt, black trousers and a black over-jacket perhaps of the style used by Judo wrestlers, loosely tied at the waist. Then to adorn his bare neck he had a piece which looked like a flattened version of the Welcome Stranger nugget and on one finger there was a gold ring set off by a rugged chunk of iron pyrites as big as a ping pong ball.<br><br>
As a child Thring went to the local, and very respectable Toorak school, Glamorgan, founded and run by Miss Isobel McComas. From there he went to Melbourne Grammar, school of other such notables as Lord Casey, Lord Bruce, Malcolm Fraser and Barry Humphries.<br><br>
'I couldn't <i>bear</i> it,' he said. 'I just refused to go, so I hardly <i>ever</i> went there. They never taught me anything that was of the slightest use... I think I might have taught them a thing or two.<br><br>
'Football? Cricket? God no. The chauffeur would pick me up at 3.30 p.m. and always there was some kind of gathering or reception. Mr Coward was being received at the Myer Mural off I would go.<br><br>
'Oh well, when I had failed my Intermediate for the 900th time my mother thought I had better go to Taylors'. Taylors was the stand by, the cramming institutions for all the young men who had failed to pass their examinations and now, bearded and moustached, could hardly go to school any longer. Thring remembers it well.<br><br>
'In those days it was on the corner of a lane running from Little Collins Street through to Bourke Street, almost immediately opposite the back bar of the Australia. So I spent all my time there... in the bar.'<br><br>
Disaster again, although Thring did feel that a young student could learn more in the back bar of the Australia than in Taylors studious establishment.<br><br>
'I mean <i>realllly</i>, what would I do with all that trigonometry and Algebra?'<br><br>
So what to do, he went to work for 3XY. In 1935, a year before he died, F.W. Thring needed to use up some of the space in the large old Princess Theatre so he founded EFFTEE Broadcasters and gained a radio licence. Teen-age Frank began there in the sound effects department.<br><br>
'Like the pictures radio was big then,' he said. It was all radio serials and they were so important you had to choose your nights. When <i>One Man's Family</i> or <i>Coronets of England</i> was on you just had to stay home to listen in. And these shows were all done live in the studio. We didn't have the convenience of tapes. If you wanted to record there was a bloody great disc about four feet wide.<br><br>
'Radio men were all actors. Eric Pearce was one of them. My father would never employ anybody as an announcer unless he could act. He had to do the double shuffle because any time he might have to be shoved into <i>One Man's Family</i>.'<br><br>
Thring said he got his first dramatic role when an actor turned up paralytic drunk.<br><br>
'I said in a dictatorial voice "I can play <i>that</i>", and as my father owned the station...'<br><br>
What next. 'On my nineteenth birthday I was conscripted into the Air Force. It was a brilliant example of the idiocy of Government. I mean the war was almost over. I spent the first night at the Melbourne Cricket Ground and they packed me off to Shepparton. I won a lot of money at poker in the train on the way.<br><br>
'Frankly I rather liked the idea of Thring the sharp-shooting tail gunner, but when I got to the camp I saw... really... it wasn't <i>me</i>. The food wasn't quite that to which I was accustomed. So I devised all the various methods I could bludge and languish in the sick bay. They put me in a hut with seven others and most of the time I just refused to get up.<br><br>
'In the evening I would wait for the others to return and I would have whisky, champagne, delicious food, all sent up from Melbourne like anchovies and caviar and we would have a marvellous party.'<br><br>
Part of the problem was to create the illusion that Aircraftsman Thring didn't really exist. When the Commanding Officer, Orderly Officer and others were making an inspection of the hut AC2 Thring disappeared into the shower, the lavatory, anywhere. By now the war was over, the RAAF decided life was less complicated without Thring and within three months he was discharged.<br><br>
Adult and free he set off for Europe. He went to all the threatre, all the ballet, he went on a grand tour of all the great art galleries. 'That was an education. It was a case of sorting myself out. I didn't really know what I wanted to do, but I suppose I had acting in mind. It was bred into me.'<br><br>
When he returned he went into Sumner Locke Elliott's <i>Rusty Bugles</i>. 'I played a very <i>butch</i> Sergeant. Then I teamed with Arthur Asky in <i>The Love Racket</i>. Then I went into <i>See How They Run</i>. All these shows were incredibly successful — three shows in five years and I was never out of work. There was talk of the last show going to New Zealand and I said to Kenn Brodziak "For Christ Sake, I can't stand this. I'm going out of my mind."<br><br>
So he escaped again and this time in the grand style of his late father he operated his own theatre, the Arrow, at Middle Park. It was a small repertory affair with a change of programme every two weeks, He did <i>Oedipus Rex</i>, <i>Othello</i>, <i>Present Laughter</i>, <i>Ring Around the Moon</i>, <i>Salome</i>...<br><br>
'I used to design sets, sew rubies on the costumes, check the lighting. That's why one is slightly intolerant now when one is rung at one in the morning — <i>needing help</i>... I can still paint a set. The trouble was we made no money at all. I would spend a week's takings on one costume.<br><br>
'But I had an English director at the time and he said, "Why don't you get out of here and go to London. You are so <i>straange</i> you might actually be a success." So I did.'<br><br>
Mr Thring certainly did not plan to go to London to hang around stage doors looking for bit parts, He decided to start from the top and put on his own plays at his own theatre with Thring in the starring roles.<br><br>
He rented the Q Theatre, which was appropriately enough in Kew, not the centre of things but always considered a good try-out theatre for shows on their way to the West End. He planned to put on four plays 'all marvellous for myself' and he took from Melbourne all the costumes for Salome.<br><br>
'We opened with Salome. That only runs for an hour and there had to be another before it — <i>The Respectable Prostitutes</i> by Jean Paul Sartre. The Q doesn't normally get the big time critics from London, but we did get the celebrated Harold Hobson from the <i>Sunday Times</i>. Huh, he wasn't faintly interested in me or <i>Salome</i>, he was keen to see the Sartre play. Hobson had something wrong with his legs. He could hobble along only on steel sticks. He had to be driven everywhere. This night something went wrong with his car arrangements and he didn't get to the theatre until the Sartre play was all over, so he had to put up with <i>Salome</i>.<br><br>
'His story in the <i>Sunday Times</i> came out under the heading WHO IS THIS MAN. He reported how his car didn't turn up, how he had to sit, reluctantly through <i>Salome</i>. Then, he said, "Suddenly this six foot two monstrosity came on the stage and went through all the performance of hysteria, paranoia, bloodlust and homosexuality. Who is this man? Why haven't we heard of him in the West End?<br><br>
'We played only a week at the Q then switched to St Martin's in London all on the strength of Hobson's review. And at the other end of the Lane they were showing <i>The Mousetrap</i> and to think that's still going. Our <i>Salome</i> went so well I even did the jewel speech on BBC television and Harold Hobson actually introduced me on the show.<br><br>
'We never got around to doing the other shows and I decided to come back to Australia. Wouldn't you know the word got around everywhere "Ahh, he's come back home. Must have been a terrible flop." That infuriated me.<br><br>
'Then I received a cable from Tony Quayle WOULD YOU JOIN OLIVIERS IN PRODUCTION TITUS ADRONICUS AT STRATFORD. We-ell, there were four inch headlines in all the morning papers<br><br>
<div class="text-center">
OLIVIERS SEND FOR THRING.
</div><br>
I simply got on a boat and went to Stratford with Larry and Vivien. This time to try and convince the colonials I stayed on.'<br><br>
Things went so well at Stratford that when Thring decided to marry, Olivier gave the bride away and Vivien Leigh was the matron of honor. The bride was his old friend Joan Cunliffe, a beautiful Melbourne model. The marriage lasted nine months before they decided to have a divorce. Joan Cunliffe won a nullity decree on the grounds of Thring's refusal to consummate the marriage. The Registrar of Divorce in his judgement said he accepted Mrs Thring's evidence that she and her husband spent their wedding night in a room with two beds — and Thring insisted on sleeping alone. He also accepted her statement that her husband had never shown the least intimate interest in her, and that when she asked for children Thring had told her 'go somewhere else and get them.'<br><br>
He said later that he and Joan had always remained close friends. 'She's re-married and has a very nice husband. In fact I call him my husband-in-law.'<br><br>
Thring did several plays and he was on the verge of returning home when the Oliviers asked him to go on tour with <i>Titus Andronicus</i> through Europe — Paris, Venice, Vienna, Belgrade, Zagreb, Warsaw, then they returned to England for a run in the West End.<br><br>
'This,' he said, 'led to a call from Kirk Douglas. "You cut off Larry's hand so beautifully in <i>Titus Andronicus</i>, would you like to cut off Tony Curtis's hand in <i>The Vikings</i>?" Clearly he knew a good hand chopper when he saw one.'<br><br>
This was the start of a whole series of vast screen epics. Thring liked to say that he was rarely out of a toga and he never appeared in a movie with a budget under ten million dollars.<br><br>
'Ye-es,' said Thring, 'this sort of thing made all the difference. The fact that one had appeared at Stratford with Larry and Vivien didn't make the slightest impression in Australia but once out at Essendon they had seen one on the big screen with Charlton Heston, Tony Curtis and Janet Leigh the thought began to sink through, "My God, he must be successful."'<br><br>
The epic to end all epics was <i>Ben Hur</i> in which Thring played Pontius Pilate. For the chariot race they had 10,000 extras, which were recruited by a newspaper advertisement.<br><br>
'They were lined up 50 deep around the gates by 5 a.m. As each one came in, someone stuck a beard on him. As he went on, someone else dropped a Roman costume over his shoulders.'<br><br>
'They were split into ten groups of a thousand and each group had a deputy director who was bi-lingual, Italian and English. This of course, was in Rome. Then anybody who looked faintly intelligent was made a sub group leader, so there was a chain of command right through.<br><br>
'All the sub directors had walkie talkies, so the precision was marvellous. William Wyler would give his radio directions, "I want section 310 to stand up and cheer. I want seventy-five to jump up and down — forty-two, now, leap in front of the chariots," and they would leap.<br><br>
'I can't tell you how slow and tedious it all was. There I was in the Roman heat trying to look lovely in my purple toga. There was a bit of relief. I was in the royal box and under a silk canopy. But you see there were twenty-seven chariots and every time they had a re-take they had to re-lay two hundred tons of sand. Bulldozers had to come in and scrape the whole arena, then they had to call in the Fire Brigade to hose it down. Each time this took about four hours. Every time they raced the track had to be pristine perfect.'<br><br>
He was in <i>El Cid</i> and <i>King of Kings</i>, but unlike many Australian actors who preferred to go overseas and stay there, Thring preferred to do it half and half, six months at home and six months away.<br><br>
In 1955 he became guest drama critic for the <i>Argus</i> and did it with such vigor some of his reviews were still remembered twenty years later. He was famed for producing the shortest criticism seen in Melbourne.<br><br>
THE THEATRE: The Tivoli.<br><br>
THE SHOW: Jack and Jill.<br><br>
THE CAST: Roy Barbour, Nina Cooke, John Bluthal, Ivor Bromley.<br><br>
THE CRITIC: The End.<br><br>
Another time he wrote of a Shakespearean production: 'Last night Cleopatra barged up the Nile and sank.'<br><br>
He wrote of Britain's 'Heart-Throb' David Hughes, 'Like the H-Bomb Mr Hughes is one of the menaces of modern civilisation. With the nauseating charm of a precocious child he alternately bellows and moans through a mass of sickly sentimentality culminating in a terrifying example of commercialized religion.'<br><br>
But this was the one that really made news. It began:<br><br>
'Last night in its grim graveyard of the taxpayer's money, the Australian National Theatre Movement inaugurated its Shakespearean Festival with a diabolical performance of <i>Twelth Night</i>.<br><br>
'This presentation (one hesitates to use the word production since the imaginative and guiding hand of a producer was at no point evident) plumbed the depths of incompetent amateurism.<br><br>
'To list the players would be sheer cruelty as they have been handicapped not only on the production side, but also by the most appalling stage management it has been my misfortune to witness, either here or abroad.<br><br>
'Lights flashed on and off, scenery quivered, and a rather tired cypress tree, which for some reason had been leaning against the sky, fell over with such monotonous regularity that eventually one thought it must be part of the plot.<br><br>
'The Australian accent at all times nasally apparent, and on occasions one scanned the tottering cypresses for an itinerant koala.'<br><br>
After that the National Theatre banned him. The next production was <i>The Merchant of Venice</i> and Thring had just taken his seat when Miss Gertrude Johnson, founder and honorary director of the theatre approached him: 'Mr Thring, I must ask you to leave. We do not want criticisms. You may stay provided you agree not to write anything, otherwise you must leave, or the curtain does not go up. We have not invited any of the newspaper critics here, and though you have bought your own ticket, the curtain will not go up unless you leave.'<br><br>
William Carr the producer said: 'I have nothing against Frank personally. It is just that I do not like his form of criticisms. I don't mind if he criticizes me, but what I do object to is his criticism of these young amateurs.'<br><br>
Thring then gave a list of names which he said 'have surely passed their first careless rapture in years, if not ability...I consider there is no production too good to serve as an introduction for our children and it is small wonder that they are growing up to be a nation of filmgoers and radio listeners if they are subjected to the purgatory of badly performed Shakespeare, which seems to be this theatre's specialty.'<br><br>
After this Thring received a flood of telegrams asking him to come to their theatre and criticize. One secretary of a young theatre group wrote: 'Dear Cruel Mr Thring. Just write <i>something, we don't care a hang what's</i> said.' Another said: 'Request please, your presence. Guaranteed no throw-outs Wednesday, Thursday next.'<br><br>
The next performance of the National Theatre was an open air affair in the Fitzroy Gardens. The banning of critic Thring was even more difficult. He hid in a tree.<br><br>
Even Frank himself is not all that fond of the critics. On television in 1974 he described them as 'Pianists in a brothel — they come between the customers and the commodity.'<br><br>
In recent years he has done most of his acting in Australia. He has performed at such places as St Martin's, the Melbourne Theatre Company and the Adelaide Festival. He has been everything from Dracula through to a Cardinal and he has even been a rhinoceros in a play of the same name. He couldn't find a rhinoceros at the Melbourne Zoo so he went to Sydney and stepped into a pen with a rhino at the Taronga Park Zoo. They developed a mutual understanding.<br><br>
He played a nun, a particularly evil Mother Superior in Eduardo Manet's play <i>The Nuns</i>. He rejoiced in the publicity shots which depicted Mother Superior Thring, splendid in the black habit, smoking a cigar.<br><br>
Now he is cautious about accepting anything that is likely to be boring or anything that is likely to involve a long run. 'I won't deny,' he said, 'that if a telegram arrived tomorrow asking me to take part in a remake of Star Wars that I wouldn't be in it. I would adore to be one of the awful villians in <i>that</i>. But you don't realise how boring it can be making a film, getting up every day at 4 a.m., waiting for hours for something to happen. And there's always <i>something</i> wrong, the sun won't shine or the horses won't work...<br><br>
'Then if you are in a successful show you have to work eight times a week for months and months and months. And always you've got this thing hanging over you. That's what makes actors eccentric. You have to be <i>mad</i>. So one wakes up on a perfectly nice day in Melbourne and at 8 p.m. one murders his father, fucks his mother and gouges out his eyes with a hat pin. That's <i>Oedipus Rex</i>. All that happens just at a time when one should be finishing one's dinner, sipping a good port and taking in a nineteen forties Bette Davis movie.'<br><br>
He says that the local theatre companies cannot really keep him in the manner in which he is accustomed, but he has found a way around that. He indulges in television commercials. 'I charge an utterly outrageous fee and they pay.' In 1976 the <i>Herald</i> in Melbourne reported that he was being paid $40,000 for some Martins cigarette ads. Thring commented that he would like to see even more outrageous fees for commercials. 'I think it is very nice if they subsidise, on my behalf, the Melbourne Theatre Company.'<br><br>
Huttons hams, Lucifer firelighters, TV licences, he has done them all. The TV licence was the first and just possibly it has made a bigger impact on his audience than anything he has done.<br><br>
He told a television weekly: 'Not only did I do it ten years ago but we haven't had licences for six years or whatever. But the minute I set foot outside the front gate a car screeches to a halt and somebody puts their head out of the window... "Ullo friend, got yah TV licence?"' And the squirming Thring says 'It's indescribably <i>very</i> embarrassing when <i>one</i> has to live with <i>one's</i> past sins.'<br><br>
It is the Thring style, the overwhelming authority of his manner that makes him so attractive to the advertising agencies.<br><br>
As he put it himself. 'Few actors in the world have flair, let alone in Australia. I think I have it. Googie Withers has it. In a very underdeveloped way I think Farnham has it. Helpmann has always had it. Barry Humphries is another one... And that's all there is.'
<hr>
SOURCES:<br>
The <i>Bulletin</i>, 31 May 1969.<br>
<i>Sun</i> News Pictorial, 24 June 1970.<br>
The <i>Herald</i>, 23 April 1974.<br>
<i>Truth</i>, 2 March 1957.<br>
The <i>Herald</i>, 19 August 1974.<br>
<i>Sun</i> News Pictorial, 24 March 1962.<br>
Ibid.<br>
The <i>Argus</i>, 10 March 1955.<br>
Ibid, 18 January 1955.<br>
Ibid, 24 February 1955.<br>
Ibid, 10 March 1955.<br>
Ibid, 12 March 1955.<br>
The <i>Herald</i>, 23 April 1974.<br>
The <i>Age</i>, 15 September 1976.<br>
The <i>Herald</i>, 26 July 1976.<br>
<i>Listener-In TV</i>, 1 January 1977.<br>
The <i>Herald</i>, 9 May 1974.
<hr>
Continue to the book index: <a href="{{ '/ratbags' | url }}">Ratbags</a>
