---
title: James George Beaney
date: 1980-11-11
summary: Profile of 'Diamond Jim' Beaney, the flamboyant, diamond-bedecked Collins Street surgeon acquitted of murder after the death of barmaid Mary Lewis in 1866.
tags:
  - James George Beaney
  - Collins Street
  - Melbourne Hospital
  - Mary Lewis
  - Bryan O'Loghlen Aspinall
  - Edward Barker
  - James Rudall
  - Canterbury
  - Table Talk
  - Melbourne Punch
  - Bailliere
---
These times when doctors have to be most delicate how they go about getting their names in newspapers or indulging in any form of self advertisement, it is fascinating to contemplate the career of James George Beaney, eminent surgeon and physician of Collins Street.<br><br>
One of his colleagues described him thus: 'A short podgy man, hair brushed up at each side and parted in the middle as if he were wearing a pair of horns; little pads under the eyes; tuft of hair on the chin; cheeks streaked with small veins; pale blue rather shifty eyes'.<br><br>
His gift for self advertisement was not so much in taking paid advertisements in newspapers. He was more subtle than that. He made lavish bequests; he fought for every available public position; he made sure a constant stream of brilliant publications appeared under his name and he lived in such style it was obvious he had to be a good doctor. How else could he afford it?<br><br>
His carriage was a glorious open barouche, pulled by two horses and filled with expensive rugs. As Melbourne <i>Punch</i> pointed out there was tremendous competition among the doctors of Melbourne and it was important to have the finest vehicle on the road. He dressed himself in velvet and the purest of linen, but his special delight was to cover himself with jewels. He would wear anything up to £10,000 worth at the one time, rings with diamonds like pigeon eggs, diamond-studded watch with diamond-studded chain, diamond cravat pin and three diamond studs would hold together his amply filled vest.<br><br>
Collins Street jewellers when they manufactured these items would put them on display to demonstrate the brilliance of their art. Dr Beaney's name would be mentioned as the owner and this would reflect also the brilliance of Dr Beaney for having the brilliance to pay for it.<br><br>
<i>Table Talk</i> claimed that he paid £20,000 for his personal jewellery during his life time and when he died it all went on display once more in Collins Street. There was a single stone diamond ring which weighed 21 carats, a scarf pin of 14 carats, another diamond ring of 10½ carats, a ring of 6½ carats and squadrons of diamond lockets, collar studs, buttons, links, chains. The auction took place in September 1891, at the time of the worst depression Australia has known. Many of the 'gee gaws', as <i>Table Talk</i> put it, were passed in, and the rest surprisingly fetched only £975, 10s. That 21 carat ring went to a Mrs Schuhkraft for £191.<br><br>
Beaney was an honorary surgeon at the Melbourne Hospital and the word was spread abroad of his surgical skill. He used to send invitations to his friends to come and see him perform. The rules about antiseptic purity in the operating theatre were hardly rigid in the eighteen-seventies and he wore all his rings as he operated. They called him 'Diamond Jim' and his hands flashed and sparkled as he operated. Every year he gave an inaugural lecture in clinical surgery to eminent citizens and always he provided champagne.<br><br>
Indeed after diamonds, champagne was his trademark. At the end of the academic year he invited students to his grand mansion in Collins Street, now the Alexandra Club, and he even provided beds for those who could not go home. The smarter students received gold and silver 'Beaney' medals specially struck, so that he could personally award the honour.<br><br>
James Beaney was born in Canterbury, England, on January 15, 1828, and his early medical training, in the custom of the time, was to serve as an apprentice. He worked for William J. Cooper, but he had a breakdown in health, almost certainly tuberculosis, so in 1852 he went on a voyage to Australia. He worked in a Collins Street chemist shop. His enemies used to say that he washed bottles, pounded pills and that was the grand total of his medical training, but he returned to England and gained his diploma in Edinburgh in 1855.<br><br>
Between 1855 and 1857 he served on troopships to the Crimea, he was staff surgeon to the Turkish contingent in the Crimean War, and on emigrant ships to America. He came to Melbourne early in 1857 and quickly he set about establishing a large and extensive practice. As <i>Table Talk</i> put it: 'He did not care a jot for the opinion the profession had of him so long as he made money and money he did make'.<br><br>
An ideal way of making enemies was the extraordinary system of elections at the Melbourne Hospital. Hospital subscribers elected doctors to honorary office by public elections.<br><br>
The reward was no cash but lots of prestige and the grand doctors of the day were prepared to pay plenty to get there. They advertised their charms in the newspapers and they even paid cash for votes. Melbourne <i>Punch</i> said Dr Beaney was 'caught red-handed' paying £1 for a vote. Circulars had to be printed, canvassing had to be done, so the sweet privilege of 'disembowelling any or everybody' cost him around £1500.<br><br>
He fought elections in 1860 and a particularly tough one in 1875. The Melbourne <i>Medical Record</i>, using cartoons and satirical poems, conducted a merciless campaign against him, but the self assured Dr Beaney triumphed, as always, over all criticism and finished at the top of the poll. Thereupon he rubbed ink into the surgical wound by always dubbing himself 'Senior Surgeon to the Melbourne Hospital'.<br><br>
Beaney suffered a series of embarrassing court cases, any one of which would have been sufficient to destroy more sensitive mortals. The most dangerous of these took place in 1866 when he was on a charge of murder.<br><br>
Mary Lewis was 21 and a barmaid at the Terminus Hotel in St Kilda. Her mother had died when she was seven years old and her father's most impressive qualifications appeared to be as a regular at the bar. Already Mary Lewis was the mother of two children, one of them dead. Her bed mate for these children had been Nathaniel Bennett, licensee at the Terminus, even though there was a Mrs Bennett also at the hotel.<br><br>
Evidence came out in court that the bar opened at 8 a.m. and Mary Lewis could still be on her feet at 3 a.m. the next morning. They liked to get the passengers that came off the last train at St Kilda Station.<br><br>
On Monday, March 12, 1866, Mary Lewis called on Dr Beaney at his rooms in Collins Street. Earlier she had been on a round of the chemists seeking strong medicines and she had consulted two other doctors. On Tuesday, Dr Beaney went to see her at her rooms in Rokeby Street, Collingwood and, as many people noted later, he was 'alone' with her with the door closed for more than a quarter of an hour.<br><br>
On Wednesday he called on her again, but this time she was very ill indeed. Her breath was foul, her pulse was rapid, her skin was blue. Beaney gave her chloroform and came out saying she was sleeping nicely. She died the next day and Beaney wrote on the death certificate that the cause was 'a malignant disease of the uterus'.<br><br>
The gossips of the neighbourhood spread the word up and down the street that Mary Lewis had died of 'an illegal operation', so the housekeeper at the lodging house sent a message to Dr Beaney warning him that he had better come quickly and perform a post mortem examination.<br><br>
He did his best to hush up the whole affair. It was summer and already the odor was unbearable at the Collingwood lodging. The body was buried at the Melbourne Cemetery, but as the rumors grew stronger and stronger, the Coroner, Dr Candler got to hear of it and ordered an exhumation.<br><br>
Dr James T. Rudall, pathologist at the Melbourne Hospital and Dr W.R. Pugh, later an honorary surgeon conducted the official post mortem. They found that the external genitals were very swollen, dark colored from the use of extreme force, that the uterus was enlarged to the size of a five months pregnancy, that the womb was ruptured, and that there was milk in the breasts. They concluded an abortion had taken place and the police charged Dr Beaney with murder.<br><br>
At the first trial the jury couldn't agree, so the Crown called for another, this started on June 18, 1866. John Sadlier in his <i>Recollections of a Victorian Police Officer</i> gave an unsympathetic version of the affair and suggested that Beaney was within one jury vote of being hanged.<br><br>
At the second trial Mr B.C. Aspinall was in charge of the defence and it was a brilliant performance. He managed to get the expert witnesses disagreeing on almost every aspect of medical evidence. After several days he had raised considerable doubt as to whether Mary Lewis had been pregnant at all. He demonstrated how the post mortem was conducted in an inefficient manner on a body which was in such a rotten state it was difficult to discern anything.<br><br>
His opening assault was to demonstrate that Dr Rudall's experience of midwifery was almost nil. The doctor had been on expeditions to the Arctic so he asked him acidly if he had many midwifery cases in the Arctic. He also set out to prove that the doctors in the court were conducting the case with such aggression this could be concluded as malevolence.<br><br>
Dr Rudall had changed his evidence from the first trial and he had even gone to the trouble of preparing a document indicating what questions he would like to receive from prosecuting counsel. Counsel for the Crown also had the assistance, right there in Court, of one of Dr Beaney's regular rivals in Melbourne Hospital elections, Dr Edward Barker.<br><br>
In his account of the trial, J.L. Forde, better known as 'Old Chum' said Barker was jail surgeon at the Melbourne Jail. He officiated at hundreds of executions and he was there for the 'send off' to Ned Kelly on 11 November, 1880.<br><br>
Forde wrote: 'Imaginative persons who knew of Dr Barker always used to make excuses about accepting invitations to meals at his house. He was probably the champion carver of the world. A few touches of his knife would make the most stubborn turkey fall into suitable joints and slices; and his artistry was so reminiscent of the dissecting room that those possessed of weak stomachs used to stare at the table-cloth until he had finished.'<br><br>
Aspinall surprised everyone by calling no witnesses for the defence. This gave him the chance to make the final summing up to the jury.<br><br>
The jury was out for only 10 minutes and it declared Dr Beaney not guilty. There were wild cheers in the court which went on for a considerable time. Mr Justice Williams, the presiding judge, was furious. He announced that if the police brought before him any person of education who had joined in such a proceeding he would commit him for two months'.<br><br>
Throughout the long trial Dr Beaney never lost his calm. Although he was a prisoner at the Melbourne Jail every day he appeared in court immaculately dressed. According to Forde the trial cost him £3000 and he had to borrow £1000 from a wealthy corn merchant to meet his debts.<br><br>
<i>Table Talk</i> claims his reasons for borrowing were these: 'Dr Beaney found himself penniless. The fact that he had no money did not trouble him so much as the fear that the public would find it out. The late Messrs Sylla and Victor Denis were consulted and the result was that Dr Beaney sauntered into the hospital lecture room, diamonds blazing in his shirt front, a small fortune twinkling on his fingers. Day after day, month after month, Beaney wore the same gorgeous trinkets, and patients flocked to consult the doctor who bore such proofs of successful practice'.<br><br>
Another incident, not quite as spectacular but almost as damaging took place in 1875. On December 19 a letter appeared in the <i>Argus</i> announcing that the cast of a large stone was on view in a bookseller's window at the east end of Collins Street. The writer explained: 'The stone is on view... as an advertisement of Mr Beaney's great operative skill but the poor man from whom this specimen was extracted is in his grave'.<br><br>
The letter was signed 'A Practical Surgeon' and he pointed out in some detail that this stone was lodged in the bladder of a healthy young man, even though it was suggested to Mr Beaney that the safer method was to crush the stone, Beaney, by continued pulling and bending of hospital instruments was determined by sheer force to get out 'his much prized lump'.<br><br>
This letter was the cause of another grand exhumation, another post mortem performed by Dr Neild and Dr Beaney's old 'friend', Dr Barker.<br><br>
Beaney was splendidly defended in court, many other similar cases were quoted and the jury found him not guilty of culpable negligence.<br><br>
At this time he earned around £12,000 a year and he was a generous, spectacular donor to charities of all kinds. He would prescribe champagne for almost all ills and one of the residents wrote of his shock when a patient actually rejected a glass of champagne for a cup of tea.<br><br>
'Augh, tea', he snorted — and then jauntily to us: 'I am becoming quite continental in my habits. I take a bottle of claret for breakfast, a small bottle of fizz for lunch and a big bottle for dinner', and he gently stroked a very obvious protuberance'.<br><br>
Liquor right up until the eighteen nineties was lovingly prescribed by most doctors. During the month of August 1883 Dr Beaney worked on 63 patients at the Melbourne Hospital and during that time he prescribed 122 ounces of brandy, 101 bottles of ale or porter, 14 bottles of lemonade and soda water, and two bottles of champagne. Some of the newspapers were shocked, not at the quantity of liquor but why Dr Beaney was slipping, and had offered only two bottles of champagne in a month.<br><br>
He couldn't even compete with some of the other doctors. Dr Fulton in August had 68 patients and he prescribed 495 ounces of brandy and 150 bottles of soda and lemonade. Dr Robertson had 144 patients and that team got through 144 ounces of brandy, 112 ounces of gin and no soda or lemonade.<br><br>
In 1878 he had a spectacular sale of furniture and went off on a triumphant tour of England, bearing a letter of introduction from the Premier, Mr Berry. In 1880 after he returned there was yet another court case. Bailliere, a medical booksellers in Collins Street, presented him with a bill for £400 and Beaney refused to pay.<br><br>
The resulting court case kept Melbourne in raptures for weeks. Bailliere did not win his case, but he managed to prove to Melbourne that in a fascinating manner he had almost made Dr Beaney. In another era he would have been known as the Beaney public relations man.<br><br>
If Dr Beaney needed a brilliant lecture for the right occasion, then Bailliere produced it and had it printed. If Dr Beaney needed an erudite book published, any topic from lithotomy to syphilis, then Bailliere fixed it for him, under his name. In eight years he earned £3000 doing precisely that.<br><br>
Beaney produced 18 books on medicine and surgery during his life time and it is now clear that Bailliere must take the honor for many of them.<br><br>
He told the court how he arranged the furniture sale as an advertising stunt before Beaney left for England. It was also his idea that Beaney should take with him a letter from the Premier and he had copies of it printed so that he could distribute them everywhere on his travels. However, Bailliere failed in his bid to have the Doctor formally gazetted as a Government representative, so Beaney refused to pay.<br><br>
Beaney was married but his wife Susannah died in Bristol during his grand tour. They had no children. In 1891 he became engaged to his housekeeper and gave her an engagement ring worth £200, but he died six weeks later of a stroke, before the wedding could take place.<br><br>
He left an estate of over £60,000 which included £10,000, to the Mayor and Corporation of Canterbury, England for the founding of a free library to be known as the Beaney Institute for the Education of Working Men, £2200 to the Dean and Chapter of Canterbury Cathedral on condition that he received a tablet in the aisle. There was £1200 for a monument over his grave. He endowed scholarships to medical schools in Melbourne and London and distributed money to Melbourne hospitals and charities.<br><br>
Just how good a surgeon he was is difficult to assess. Perhaps he was a little too daring and spectacular at times, but he must have had certain skills. After his death the <i>Illustrated Australian News</i> wrote: '<i>Lancet</i>, perhaps the highest medical authority in the world, has more than once referred to his great skill, and on one occasion, speaking of his capacity as a surgeon, stated that the operation of tying the innominate artery, one in which the deaths averaged 90%, was an operation in which his record as a successful surgeon had never been surpassed, if it had been equalled. Dr Beaney was the only practitioner who had succeeded twice. In the radical cure of hernia, he has had over 400 cases without a single death, and this is a record of which few practitioners can boast'.<br><br>
So Diamond Jim died on 30 June 1891 and his diamonds went up for auction 10 weeks later. His memory is still kept alive with the Beaney Scholarships for Surgery at Melbourne University.
<hr>
SOURCES:<br>
Bryan Gandevia, <i>Medical Journal of Australia</i>, 2 May, 1953.<br>
<i>Weekly Times</i>, 6 December, 1873.<br>
<i>Table Talk</i>, 11 September, 1891.<br>
K.S. Inglis, <i>Hospital and Community</i>, (Melbourne 1958).<br>
<i>Table Talk</i>, 3 July, 1891.<br>
Melbourne <i>Punch</i>, 1 July, 1875.<br>
<i>Truth</i>, 29 July, 1916.<br>
Ibid, 4 November, 1916.<br>
Ibid, 7 October, 1916.<br>
<i>Table Talk</i>, 21 August, 1891.<br>
C. Craig, <i>Medical Journal of Australia</i>, 1950.<br>
Bryan Gandevia, <i>Medical Journal of Australia</i>, 2 May, 1953.<br>
Melbourne <i>Punch</i>, 13 September, 1883.<br>
C. Craig, <i>Medical Journal of Australia</i>, 6 May, 1950.<br>
<i>Table Talk</i>, 4 September, 1891.<br>
<i>Illustrated Australian News</i>, 1 August, 1881.
<hr>
Continue to the next chapter: <a href="{{ '/books/ratbags/9-alfred-edward-lynch' | url }}">Alfred Edward Lynch</a>
