{{ define "main" }}
	{{if .Site.Home.Content }}

	<h1>{{ .Title }}</h1>

	{{.Site.Home.Content}}
	{{else}}

			<div class="col-6 offset-3">
			<img src="keith_dunstan.jpg" class="rounded mx-auto d-block img-fluid" alt="IMage of Keith Dunstan riding a bicycle">
		</div>
			<h1 class="text-center">Keith Dunstan</h1>
			<p class="lead text-center">
				(3 February 1925 – 11 September 2013)
				<br><br>Keith Dunstan was an Australian journalist and author. He was a prolific writer and the author of more than 25 books.
			</p>
			<hr>
			<p class="text-center small">This site aims to bring his literary works to a permanent online home.</p>
			
			<p class="text-center small">To support and motivate the development of this resource that will be open and free please <a href="https://ko-fi.com/jackdunstan" alt="Make a small donation">click here</a></p>

	
		<style>
			#navbarMain, body > div > div > div.docs-sidenav.order-0.col-12.col-md-3.col-lg-2.col-xl-2.position-sticky.border-right > nav
			{
				display: none;
				
			
			}
			</style>
	{{ end }}

{{ end }}
