---
layout: layouts/default.njk
title: A Cricket Dictionary
summary: A comic glossary of cricket terms and jargon, illustrated by cartoonist Jeff Hook, decoding a game Dunstan reckoned as unfathomable to the uninitiated as nuclear physics.
---
<p class="lead">Published in 1983 by Sun Books, 'A Cricket Dictionary' opens the run of illustrated comic 'dictionaries' Dunstan wrote through the 1980s, each explaining an Australian sporting or social obsession to outsiders and insiders alike.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/cricket.jpg' | url }}" class="img-fluid" alt="Cover of the book">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>From the cover: "cricket (crikk-itt in England, criggit in Australia). Like living in igloos, skateboarding and eating tripe, unless taught at birth it remains forever as unfathomable as Nuclear Physics." Dunstan and illustrator Jeff Hook turn the game's terms, rituals and characters into a wry, cartoon-illustrated glossary.</p>
    <p>Published by Sun Books, 1983. ISBN 0-7251-0432-5.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
