---
layout: layouts/default.njk
title: 'Above Australia: A Salute to Our Cities'
summary: A large-format collection of aerial photography of Australia's capital cities, with text contributions from Dunstan and fellow journalists Robert Haupt, Hugh Lunn and Nancy Keesing.
---
<p class="lead">Published in 1985 by Weldons, 'Above Australia: A Salute to Our Cities' pairs aerial photography with journalists' essays on the country's capital cities.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>A collaborative volume built around aerial photography of Australia's capitals, with text contributions from Dunstan alongside journalists Robert Haupt, Hugh Lunn, Nancy Keesing, David Nason, Ross Gates and others.</p>
    <p>Published by Weldons, 1985. ISBN 0-949708-20-8.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
