---
layout: layouts/default.njk
title: Articles by publication

---

<h3>The Sun</h3>
<p>Keith wrote for <a href="https://en.wikipedia.org/wiki/The_Herald_and_Weekly_Times" target=_self">The Herald and Weekly Times</a> from 1946 to 1978, most notably in <a href="https://en.wikipedia.org/wiki/The_Sun_News-Pictorial" target="_self">'The Sun News-Pictorial</a>'s 'A Place in the Sun' from 1958 to 1978.</p> 



<h3>Walkabout Magazine</h3>
<p>Keith wrote for <a href="https://en.wikipedia.org/wiki/Walkabout_(magazine)" target"_self"> Walkabout Magazine</a> between 1962 and 1969</p>
{% include 'snippets/walkabout.njk' %}
<p><a href="{{ '/walkabout/' | url }}">View available Walkabout article entries here</a></p>
<h3>The Bulletin</h3>
<p>Keith wrote in <a href="https://en.wikipedia.org/wiki/The_Bulletin_(Australian_periodical)" target="_self">The Bulletin</a> from 1962 until 1984, initially under the psuedonym, 'Batman'.</p>
    {% include 'snippets/bulletin.njk' %}
    <p><a href="{{ '/bulletin/' | url }}">View available Bulletin article entries here</a></p>
<h3>The Age</h3>
<p>Keith wrote for <a href="https://en.wikipedia.org/wiki/The_Age" target"_self">The Age</a> occasionally from 1986 until his death. Collections of his columns for The Age can be found in his books "No Brains on Tuesday" and "A Day in the Life of Australia".</p>
    <!--{% include 'snippets/theage.njk' %}-->
  