---
layout: layouts/blog.njk
title: Articles
pagination:
    data: collections.post
    size: 10
    reverse: true
    alias: posts
---

<p class="lead">All writing on this site, is listed here by date.</p>
