---
layout: layouts/default.njk
title: Batman in the Bulletin
summary: Keith wrote for the Bulletin monthly magazine under the pseudonym, John Batman, to avoid detection from his employer and commercial rival The Herald and Weekly Times.
---
<div class="row">
        <div class="col-12 col-md-3">
            <img src="{{ '/img/keith-as-batman.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
        </div>
        <div class="col-12 col-md-9">
<p class="lead">Keith wrote for the Bulletin monthly magazine under the pseudonym, John Batman, to avoid detection from
    his employer and commercial rival The Herald and Weekly Times.
</p>
<p>This collection of articles from the Bulletin were edited by Keith's son, David, and published in 2004. Articles have
    been grouped into themes as below and include introductions, to explain the historical significance of the original
    writing.</p>
    </div></div>
 
 
<div class="col-12 col-lg-8 offset-lg-2">
    <h2>Contents</h2>
    <ul class="lead">
        <li><a href="{{ '/books/batman-in-the-bulletin/introduction' | url }}">Introduction</a></li>
    </ul>
</div>

       <div class="col-12 col-lg-8 offset-lg-2"><h2 class="h4">
Bring back the palaces</h2><p>Television had one deadly and terrible effect and that was the ruin of the picture palace.
    Back in the depressed nineteen thirties the palaces were our saviour, our glimpse of luxury and satisfying make believe.
    Our palaces were huge and very nearly the finest on earth. If one was well-to-do it was done to have to have permanent
    seats, always there, in the dress circle at the Capitol, the Regent or maybe the Palais at St Kilda. If one was young
    the ultimate was to be invited in a school party to the State Theatre in Flinders Street where they had Rudolf
    Valentino's sword in a glass case and there were stars and scudding clouds in the ceiling. Some theatres could hold an
    audience of 3000 or more and part of the fun was to gaze upon celebrities who were bound to be present. Not any more.
    Now theatres are the size of small restaurants, boxes, and they put six in the one building.</p><ul class="lead">
<li>
    <a href="{{ '/articles/bulletin/when-hoyts-was-hoyts' | url }}">When Hoyts was Hoyts</a>
</li>
<li>
    <a href="{{ '/articles/bulletin/the-capitol-and-the-worlds-mightiest-spectacle' | url }}">The Capitol and 'The World's Mightiest Spectacle.' </a>
</li>
<li>
    <a href="{{ '/articles/bulletin/when-flappers-fluttered-through-the-flames' | url }}">When Flappers Fluttered Through the Flames</a>
</li>
<li>
    <a href="{{ '/articles/bulletin/the-mighty-wurlitzer-rose-in-a-pool-of-light' | url }}">The Mighty Wurlitzer Rose in a Pool of Light.  </a>
</li>
<li>
    <a href="{{ '/articles/bulletin/the-ghost-of-the-princess' | url }}">The Ghost of the Princess</a>
</li>
<li>
    <a href="{{ '/articles/bulletin/alas-poor-tivoli-i-knew-it-well' | url }}">Alas, poor Tivoli, I knew it well.  </a>
</li>
</ul>
</div>