---
layout: layouts/default.njk
title: Books

---

<hr/>
<p class="lead">As well as writing a daily column, magazines and scripts for television and radio, Keith Dunstan wrote over
   25 books.</p>
   <p>Some of these texts are available for reading here, select the title to view more information on it's availability.
</p>
<div class="accordion" id="accordionExample">
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
         <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne">
         Kiwi : The Australian brand that brought a shine to the world
         </button>
      </h2>
      <div
         id="collapseOne"
         class="accordion-collapse collapse"
         aria-labelledby="headingOne"
         data-bs-parent="#accordionExample">
         <div class="accordion-body">
            <div class="d-flex">
               <div class="flex-shrink-0">
                  <img src="{{ '/img/kiwi.jpg' | url }}" width="200" alt="Cover of the Kiwi book">
               </div>
               <div class="flex-grow-1 ms-3">
                  2017, Allen and Unwin -
                  <a href="https://www.allenandunwin.com/browse/books/general-books/history/Kiwi-Keith-Dunstan-9781760297282">link</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
         <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo">
         Moonee Ponds to Broadway
         </button>
      </h2>
      <div
         id="collapseTwo"
         class="accordion-collapse collapse"
         aria-labelledby="headingTwo"
         data-bs-parent="#accordionExample">
         <div class="accordion-body">
            <div class="d-flex">
               <div class="flex-shrink-0">
                  <img src="{{ '/img/mooneepondstobroadway.jpg' | url }}" width="200" alt="Cover of the Kiwi book">
               </div>
               <div class="flex-grow-1 ms-3">
                  2005
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
         <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree">
         Collins : the story of Australia's premier street
         </button>
      </h2>
      <div
         id="collapseThree"
         class="accordion-collapse collapse"
         aria-labelledby="headingThree"
         data-bs-parent="#accordionExample">
         <div class="accordion-body">
            <div class="d-flex">
               <div class="flex-shrink-0">
                  <img src="{{ '/img/collins.webp' | url }}" width="200" alt="Cover of the Kiwi book">
               </div>
               <div class="flex-grow-1 ms-3">
                  Contributor, 2005
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
         <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour">
         Batman in the Bulletin: The Melbourne I Remember
         </button>
      </h2>
      <div
         id="collapseFour"
         class="accordion-collapse collapse"
         aria-labelledby="headingFour"
         data-bs-parent="#accordionExample">
         <div class="accordion-body">
            <div class="d-flex">
               <div class="flex-shrink-0">
                  <img src="{{ '/img/batmaninthebulletin.jpg' | url }}" width="200" alt="Cover of the book">
               </div>
               <div class="flex-grow-1 ms-3">
                  2004, Australian Scholarly Publishing.<br>
                  <p>A collection of Keiths articles, originally published in the Bulletin Magazine. Edited by David Dunstan.
                  <p>Links to articles and an introduction on chapters <a href="{{ '/batman-in-the-bulletin' | url }}">is here.</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingFive">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseFive"
         aria-expanded="false"
         aria-controls="collapseFive">
      A Day in the Life of Australia
      </button>
   </h2>
   <div
      id="collapseFive"
      class="accordion-collapse collapse"
      aria-labelledby="headingFive"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/adayinthelifeofaustralia.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
            </div>
            <div class="col-12 col-md-9">Commissioned by 'The Age' newspaper to celebrate the bicentennial in 1998, Keith wrote an historical account of Australia's history for each day of the year. They were compiled to form this book. Published in 1989<br><a href="{{ '/a-day-in-the-life-of-australia' | url }}">You can read the introduction and list of article titles here</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingSix">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseSix"
         aria-expanded="false"
         aria-controls="collapseSix">
      The confessions of a bicycle nut
      </button>
   </h2>
   <div
      id="collapseSix"
      class="accordion-collapse collapse"
      aria-labelledby="headingSix"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/confessionsofabicyclenut.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
            </div>
            <div class="col-12 col-md-9">1999<br>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingSeven">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseSeven"
         aria-expanded="false"
         aria-controls="collapseSeven">
      My life with the demon
      </button>
   </h2>
   <div
      id="collapseSeven"
      class="accordion-collapse collapse"
      aria-labelledby="headingSeven"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/mylifewiththedemon.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
            </div>
            <div class="col-12 col-md-9"><p>1994, Wilkinson Books<br>Keith's second book in his trilogy of memoirs recounts his experiences with, around and under the influence of the Demon Drink.</p>
             <p><a href="{{ '/my-life-with-the-demon' | url }}">Read available chapters online here</a></p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingEight">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseEight"
         aria-expanded="false"
         aria-controls="collapseEight">
      No brains on Tuesday : the collected wit & wisdom of Keith Dunstan
      </button>
   </h2>
   <div
      id="collapseEight"
      class="accordion-collapse collapse"
      aria-labelledby="headingEight"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/nobrainsontuesday.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
            </div>
            <div class="col-12 col-md-9">1991<br>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingNine">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseNine"
         aria-expanded="false"
         aria-controls="collapseNine">
      No brains at all
      </button>
   </h2>
   <div
      id="collapseNine"
      class="accordion-collapse collapse"
      aria-labelledby="headingNine"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="d-flex">
            <div class="flex-shrink-0">
               <img src="{{ '/img/no-brains-at-all.jpg' | url }}" width="200"  alt="Cover of the  book">
            </div>
            <div class="flex-grow-1 ms-3">
               <p> Viking Books, 1990</p>
               <p>Keith's first book of memoirs, published in 1990 cover his career in writing, reflections on Melbourne, working abroad and his family life.
               <p><a href="{{ '/no-brains-at-all' | url }}">Read online here</a></p>
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingTen">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseTen"
         aria-expanded="false"
         aria-controls="collapseTen">
      Saint Ned : the story of the near sanctification of an Australian outlaw
      </button>
   </h2>
   <div
      id="collapseTen"
      class="accordion-collapse collapse"
      aria-labelledby="headingTen"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/saintned.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
            </div>
            <div class="col-12 col-md-9">1980<br>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="accordion-item">
   <h2 class="accordion-header" id="headingSeventeen">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseSeventeen"
         aria-expanded="false"
         aria-controls="collapseSeventeen">
      Ratbags
      </button>
   </h2>
   <div
      id="collapseSeventeen"
      class="accordion-collapse collapse"
      aria-labelledby="headingSeventeen"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/ratbags.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
            </div>
            <div class="col-12 col-md-9">1980<br>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingEleven">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseEleven"
         aria-expanded="false"
         aria-controls="collapseEleven">
      The store on the hill
      </button>
   </h2>
   <div
      id="collapseEleven"
      class="accordion-collapse collapse"
      aria-labelledby="headingEleven"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/thestoreonthehill.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
            </div>
            <div class="col-12 col-md-9">1979<br>
               The story of 'Georges', the luxury department store in Collins street, Melbourne.
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingTwelve">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseTwelve"
         aria-expanded="false"
         aria-controls="collapseTwelve">
      Knockers
      </button>
   </h2>
   <div
      id="collapseTwelve"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwelve"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         1972
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="heading22">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapse22"
         aria-expanded="false"
         aria-controls="collapse22">
      The Australian Uppercrust Book
      </button>
   </h2>
   <div
      id="collapse22"
      class="accordion-collapse collapse"
      aria-labelledby="heading22"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/theaustralianuppercrustbook.jpg' | url }}" class="img-fluid" title="The Australian Uppercrust Book" alt="The Australian Uppercrust Book cover">
            </div>
            <div class="col-12 col-md-9">Published in 1971 by Sun Books. <br><br>Keith's chapter on 'Snobbery in Business' <a href="{{ '/posts/the-australian-uppercrust-book/snobbery-in-business/' | url }}">can be read here.</a><br>Other contributors to this book on Snobbery in society, sex, wine, food and the arts, include contributions by Ian Moffitt, Max Lake, Sandra Hall, Daphne Guinness and Philip Adams. <br>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingThirteen">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseThirteen"
         aria-expanded="false"
         aria-controls="collapseThirteen">
      Sports
      </button>
   </h2>
   <div
      id="collapseThirteen"
      class="accordion-collapse collapse"
      aria-labelledby="headingThirteen"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/sports.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
            </div>
            <div class="col-12 col-md-9">1970<br>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingFourteen">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseFourteen"
         aria-expanded="false"
         aria-controls="collapseFourteen">
      Wowsers
      </button>
   </h2>
   <div id="collapseFourteen" class="accordion-collapse collapse"       aria-labelledby="headingFourteen"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/wowsers.jpg' | url }}" class="img-fluid" alt="Cover of Keith DUnstan's 1968 book, Wowsers">
            </div>
            <div class="col-12 col-md-9">
               <p>Keith's third book, published in 1968, documents the prudery of an early Australia aiming to shed its image as a place of convicts and rough behaviour.
               <br>First published by Cassell Australia, in 1968.
               </p>
               <p><a href="{{ '/wowsers' | url }}">Read the introduction and available chapters.</a></p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingFifteen">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseFifteen"
         aria-expanded="false"
         aria-controls="collapseFifteen">
      Supporting a column
      </button>
   </h2>
   <div
      id="collapseFifteen"
      class="accordion-collapse collapse"
      aria-labelledby="headingFifteen"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/supporting-a-column.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
            </div>
            <div class="col-12 col-md-9">1966, published by Cassell Australia<br> Keith's second book, published in 1966, reflects on the trails of taking on a daily column in the Sun News Pictorial and his efforts in keeping it upright.<br> <a href="{{ '/supporting-a-column' | url }}">Read the Introduction and available chapters here.</a></div>
         </div>
      </div>
   </div>
</div>
<div class="accordion-item">
   <h2 class="accordion-header" id="headingSixteen">
      <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapseSixteen"
         aria-expanded="false"
         aria-controls="collapseSixteen">
      The paddock that grew
      </button>
   </h2>
   <div
      id="collapseSixteen"
      class="accordion-collapse collapse"
      aria-labelledby="headingSixteen"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row">
            <div class="col-12 col-md-3">
               <img src="{{ '/img/thepaddockthatgrew.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
            </div>
            <div class="col-12 col-md-9">1962<br>
               Keith's first book, published in 1962 about the origins and history of the Melbourne Cricket Ground.
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
</div>