---
layout: layouts/default.njk
title: 'Bowls: The Lawn Bowls Dictionary'
summary: A comic glossary of lawn bowls terms and jargon, illustrated by Jeff Hook, part of Dunstan's run of Sun Books sporting dictionaries.
---
<p class="lead">Published in 1986 by Sun Books, 'Bowls: The Lawn Bowls Dictionary' turns the language of the green, from the jack to the bias, into an illustrated comic glossary.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>Illustrated by cartoonist Jeff Hook, in the same comic-dictionary format as <a href="{{ '/a-cricket-dictionary' | url }}">A Cricket Dictionary</a>, decoding the terms and rituals of lawn bowls.</p>
    <p>Published by Sun Books, 1986. ISBN 0-7251-0522-4.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
