---
layout: layouts/default.njk
title: The Bulletin
summary: Keith Dunstan's articles published in The Bulletin.
---

<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2">
    <p class="lead">Keith Dunstan wrote in The Bulletin from 1962 until 1984, initially under the psuedonym, 'Batman'.</p>
<p><a href="https://en.wikipedia.org/wiki/The_Bulletin_(Australian_periodical)">"The Bulletin"</a> magazine shaped how Australian identity, literature and public debate were understood and represented. Through early writers such as Henry Lawson and Banjo Paterson, it gave prominence to a distinctive national literary voice and helped popularise the bush myth: an influential but limited story of independence, mateship and life beyond the city. </p><p>Prior to its last edition in 2008, The Bulletin was also important as a record of the cultural values and social attitudes of its time, including the exclusions and assumptions that shaped public conversation. Its development from a politically charged publication into a modern news magazine showed how Australian media changed over time.</P
    <h4>Articles</h4>
    <ul>
      <li><a href="/bulletin/1962-03-10-around-melbourne-those-were-the-days/">Around Melbourne THOSE WERE THE DAYS</a></li>
      <li><a href="/bulletin/batmans-melbourne-this-is-a-fine-state-to-be-in/">Batman&#39;s Melbourne: This is a fine state to be in</a></li>
      <li><a href="/articles/bulletin/1962-03-03-melbourne-letter-the-new-image/">Melbourne Letter THE NEW IMAGE</a></li>
      <li><a href="/articles/bulletin/alas-poor-tivoli-i-knew-it-well/">Alas, poor Tivoli, I knew it well.</a></li>
      <li><a href="/articles/bulletin/the-capitol-and-the-worlds-mightiest-spectacle/">The Capitol and &#39;The World&#39;s Mightiest Spectacle.&#39;</a></li>
      <li><a href="/articles/bulletin/the-ghost-of-the-princess/">The Ghost of the Princess</a></li>
      <li><a href="/articles/bulletin/the-mighty-wurlitzer-rose-in-a-pool-of-light/">The Mighty Wurlitzer Rose in a Pool of Light.</a></li>
      <li><a href="/articles/bulletin/when-flappers-fluttered-through-the-flames/">When Flappers Fluttered Through the Flames</a></li>
      <li><a href="/articles/bulletin/when-hoyts-was-hoyts/">When Hoyts was Hoyts</a></li>
    </ul>
  </div>
</div>
