---
layout: layouts/default.njk
title: 'Bundy: A Centenary History'
summary: A company history of Bundaberg Rum, commissioned by the Bundaberg Distilling Company to mark its 1988 centenary, tracing the distillery from its 1888 founding in Queensland's sugar country.
---
<p class="lead">Published in 1988 to mark the Bundaberg Distilling Company's centenary, 'Bundy: A Centenary History' traces the distillery from its 1888 founding to its status as an Australian household name.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>Commissioned company history of the Bundaberg Distilling Company, drawing on its records to tell the story of Bundaberg Rum from its founding in Queensland's sugar country in 1888 to the centenary year, when the distillery invested heavily in expanding storage to meet growing UK and European demand.</p>
    <p>Published by the Bundaberg Distilling Company, 1988.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
