---
layout: layouts/default.njk
title: 'Flag, the First 30 Years'
summary: Commissioned by the Flag International hotel and motel group to mark its 30th anniversary, tracing the growth of the Australasian hospitality industry since the group's founding.
---
<p class="lead">Published in 1991, 'Flag, the First 30 Years: The Growth and Experiences of the Hospitality Industry in Australasia' was commissioned to mark Flag International's thirtieth anniversary.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>A commissioned history of the Flag International hotel and motel group, tracing its thirty years of growth alongside the wider development of the hospitality and accommodation industry across Australia and New Zealand.</p>
    <p>Published by Flag International, 1991. ISBN 0-646-05377-9.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
