---
layout: layouts/default.njk
title: Footy, an Aussie Rules Dictionary
summary: A comic glossary of Australian Rules football terms and jargon, illustrated by Jeff Hook, part of Dunstan's run of Sun Books sporting dictionaries.
---
<p class="lead">Published in 1983 by Sun Books, 'Footy, an Aussie Rules Dictionary' turns the language of the game, from grandstand slang to umpire's calls, into an illustrated comic glossary.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>Illustrated by cartoonist Jeff Hook, in the same comic-dictionary format as <a href="{{ '/a-cricket-dictionary' | url }}">A Cricket Dictionary</a>, decoding the terms and rituals of Australian Rules football.</p>
    <p>Published by Sun Books, 1983. ISBN 0-7251-0404-X.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
