---
layout: layouts/default.njk
title: 'Moonee Ponds to Broadway'
summary: A study of Barry Humphries tracing the satirist's journey from suburban Melbourne to international stardom as Dame Edna Everage, produced to accompany a set of commemorative Australia Post stamps.
---
<p class="lead">Published in 2005, 'Moonee Ponds to Broadway' traces the career of Keith Dunstan's friend and fellow Melburnian Barry Humphries.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/mooneepondstobroadway.jpg' | url }}" class="img-fluid" alt="Moonee Ponds to Broadway cover">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>A study of Barry Humphries tracing the satirist's journey from suburban Melbourne to international stardom as Dame Edna Everage. The edition was produced by Australia Post to accompany a set of commemorative Barry Humphries/Dame Edna postage stamps.</p>
    <p>Published by Australia Post, 2005.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
