---
layout: layouts/default.njk
title: Gurney & Bluey & Curley
summary: A retrospective of cartoonist Alex Gurney's work, especially his long-running comic strip Bluey and Curley, compiled by Gurney's son John Gurney with contributions from his friend Keith Dunstan.
---
<p class="lead">Published in 1986, 'Gurney & Bluey & Curley: Alex Gurney and His Greatest Cartoons' was written by John Gurney with Keith Dunstan, a friend of Alex Gurney's from Melbourne journalism circles.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>A collection of cartoons by Alex Gurney (1902-1955), creator of the long-running Bluey and Curley comic strip, drawn from that strip as well as Gurney's earlier work on Stiffy and Mo and Ben Bowyang. Compiled by Gurney's son John Gurney, with Dunstan contributing as a friend and colleague of the cartoonist.</p>
    <p>Published by the Macmillan Company of Australia, 1986. ISBN 0-7251-0504-6.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
