---
layout: layouts/default.njk
title: 'Health and Fitness: The Dictionary'
summary: A comic glossary of health, fitness and exercise jargon, illustrated by Jeff Hook, part of Dunstan's run of Sun Books dictionaries.
---
<p class="lead">Published in 1985 by Sun Books, 'Health and Fitness: The Dictionary' turns the language of the 1980s gym and diet boom into an illustrated comic glossary.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>Illustrated by cartoonist Jeff Hook, in the same comic-dictionary format as <a href="{{ '/a-cricket-dictionary' | url }}">A Cricket Dictionary</a>, poking fun at the jargon of the era's health and fitness craze.</p>
    <p>Published by Sun Books, 1985. ISBN 0-7251-0488-0.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
