---
layout: layouts/default.njk
title: 'Hook, Line and Sinker: The Dictionary'
summary: A comic glossary of fishing terms and jargon, illustrated by Jeff Hook, whose surname supplied the pun in the title.
---
<p class="lead">Published in 1986 by Sun Books, 'Hook, Line and Sinker: The Dictionary' turns the language of anglers into an illustrated comic glossary, its title punning on illustrator Jeff Hook's own name.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>Illustrated by cartoonist Jeff Hook, who was known for hiding a fishhook somewhere in each of his cartoons, in the same comic-dictionary format as <a href="{{ '/a-cricket-dictionary' | url }}">A Cricket Dictionary</a>, decoding the terms and rituals of fishing.</p>
    <p>Published by Sun Books, 1986. ISBN 0-7251-0510-0.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
