---
layout: layouts/default.njk
title: 'Informed Sources: A History of the Melbourne Press Club 1971-2001'
summary: A history of the Melbourne Press Club, of which Dunstan was president in 1976 and 1977, tracing the club from its 1971 founding through its first thirty years.
---
<p class="lead">Published in 2001 by the Melbourne Press Club, 'Informed Sources' traces the club's first thirty years, expanding on a shorter history Dunstan had written in 1991.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>The Melbourne Press Club was formed on 30 November 1971, following a media seminar attended by 125 journalists, editors and publishers. Dunstan, who served as the club's president in 1976 and 1977, wrote its history, first published in 1991 and expanded in 2001 to mark the club's thirtieth anniversary.</p>
    <p>Published by the Melbourne Press Club, 2001. ISBN 0-9579503-0-6.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
