---
layout: layouts/default.njk
title: It's All Up Hill
summary: An illustrated account of Dunstan's travels and cycling around the United States, written with cartoonist Jeff Hook during his posting as the Herald's US correspondent.
---
<p class="lead">Published in 1979 by Pegasus Books, 'It's All Up Hill' was written with cartoonist Jeff Hook during Dunstan's years as the Herald's United States correspondent.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/itsalluphill.jpg' | url }}" class="img-fluid" alt="Cover of the book">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>The cover, with its wide-eyed Statue of Liberty and touring bicycles, points to the book's subject: an Australian's-eye account of America seen partly from a bicycle saddle, illustrated throughout by Jeff Hook.</p>
    <p>Published by Pegasus Books, 1979. ISBN 0-908131-19-4.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
