---
layout: layouts/default.njk
title: Knockers
summary: Keith's 1972 book on the Australian habit of denigrating success and cutting down 'tall poppies', part of his quartet of books on national character alongside Wowsers, Sports and Ratbags.
---
<p class="lead">Published in 1972, Knockers examines the Australian habit of denigrating success and cutting down 'tall poppies', part of Dunstan's quartet of books on national character alongside Wowsers, Sports and Ratbags.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/knockers.jpg' | url }}" class="img-fluid" alt="Cover of the book">
  </div>
  <div class="col-12 col-md-9">
    <h3 class="h5">From the original dust jacket</h3>
    <p>Drawing on historical anecdote and press cuttings, Keith Dunstan traces the knocker from colonial times to the present, the Australian who takes a special delight in cutting down anyone who succeeds.</p>
  </div>
</div>
<hr>
<h2>Contents</h2>
<ul class="lead">
<li><a href="{{ '/books/knockers/0-foreword/' | url }}">Foreword</a>, by Barry Humphries ('Detrimental Blokes')</li>
<li>Chapter One: <a href="{{ '/books/knockers/1-knockers/' | url }}">Knockers</a></li>
<li>Chapter Two: <a href="{{ '/books/knockers/2-the-australian-landscape/' | url }}">The Australian Landscape</a></li>
<li>Chapter Three: <a href="{{ '/books/knockers/3-the-australian-character/' | url }}">The Australian Character</a></li>
<li>Chapter Four: The Australian Female</li>
<li>Chapter Five: Melbourne</li>
<li>Chapter Six: Sydney</li>
<li>Chapter Seven: Each Other</li>
<li>Chapter Eight: Canberra</li>
<li>Chapter Nine: The Sydney Opera House</li>
<li>Chapter Ten: Australian Politicians</li>
<li>Chapter Eleven: Royalty</li>
<li>Chapter Twelve: Australian Myths</li>
<li>Chapter Thirteen: Australian Writers</li>
<li>Chapter Fourteen: Australian Artists</li>
<li>Chapter Fifteen: The Australian Stage</li>
</ul>
