---
layout: layouts/default.njk
title: Moomba, the First 25 Years
summary: A silver-jubilee history of Melbourne's Moomba festival, tracing its parades, monarchs and stunts from its founding in 1955 through to 1979.
---
<p class="lead">Published in 1979 to mark the festival's Silver Jubilee, 'Moomba, the First 25 Years' traces Melbourne's biggest annual community celebration from its 1955 founding.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/moomba.jpg' | url }}" class="img-fluid" alt="Cover of the book">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>Dunstan recounts a quarter-century of Moomba, from its King and Queen and Birdman Rally through to its river processions and street parades, as one of the events that came to define Melbourne's civic calendar.</p>
    <p>Published by the Sun News-Pictorial and the Moomba Festival, 1979. ISBN 0-9595453-0-1.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
