---
layout: layouts/default.njk
title: My Life with the Demon
summary: Keith's second book in his trilogy of memoirs recounts his experiences with, around and under the influence of the Demon Drink

---
<p class="lead">
    Published in 1994, Keith's second book in his trilogy of memoirs recounts his experiences with, around and under the influence of the 'Demon Drink'.</p>
<hr>
<div class="row">
    <div class="col-12 col-md-3">
        <img src="{{ '/img/mylifewiththedemon.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
    </div>
    <div class="col-12 col-md-9">
        <h2 class="h4"> From the original dust jacket </h2>
        {{ "my-life-with-the-demon" | bookContent("summary.md") | safe }}
    </div>
</div>
<hr>
<div class="col-12 col-lg-8 offset-lg-2">
    <h2>Contents</h2>
<p>
            <ul class="lead">
                <li><a href="{{ '/books/my-life-with-the-demon/0-introduction' | url }}">Introduction</a></li>
                <li>Chapter 1: <a href="{{ '/books/my-life-with-the-demon/1-the-early-demon' | url }}">The Early Demon</a></li>
                 <li>Chapter 2: <a href="{{ '/books/my-life-with-the-demon/2-the-demon-in-command' | url }}">The Demon in Command</a></li>
                  <li>Chapter 3: <a href="{{ '/books/my-life-with-the-demon/3-the-beer-demon' | url }}">The Beer Demon</a></li>
                   <li>Chapter 4: <a href="{{ '/books/my-life-with-the-demon/4-finding-the-wine-demon' | url }}">Finding the Wine Demon</a></li>
                    <li>Chapter 5: <a href="{{ '/books/my-life-with-the-demon/5-the-demon-becomes-a-snob' | url }}">The Demon becomes a Snob</a></li>
                     <li>Chapter 6: <a href="{{ '/books/my-life-with-the-demon/6-the-creative-demon' | url }}">The Creative Demon</a></li>
                      <li>Chapter 7: <a href="{{ '/books/my-life-with-the-demon/7-the-virgin-vintage' | url }}">The Virgin Vintage</a></li>
                       <li>Chapter 8: <a href="{{ '/books/my-life-with-the-demon/8-the-bird-demon' | url }}">The Bird Demon</a></li>
                        <li>Chapter 9: <a href="{{ '/books/my-life-with-the-demon/9-it-is-essential-to-have-clean-feet' | url }}">It is Essential to Have Clean Feet</a></li>
                         <li>Chapter 10: <a href="{{ '/books/my-life-with-the-demon/10-bottling-the-demon' | url }}">Bottling the Demon</a></li>
                          <li>Chapter 11: <a href="{{ '/books/my-life-with-the-demon/11-achieving-divinity' | url }}">Achieving Divinity</a></li>
                           <li>Chapter 12: <a href="{{ '/books/my-life-with-the-demon/12-the-money-demon' | url }}">The Money Demon</a></li>
                            <li>Chapter 13: <a href="{{ '/books/my-life-with-the-demon/13-demonic-people' | url }}">Demonic People</a></li>
             
                </li>
            </ul>

</p>
</div>


