---
layout: layouts/default.njk
title: My Life with the Demon
summary: Keith's second book in his trilogy of memoirs recounts his experiences with, around and under the influence of the Demon Drink

---
<p class="lead">
    Published in 1994, Keith's second book in his trilogy of memoirs recounts his experiences with, around and under the influence of the 'Demon Drink'.</p>
<hr>
<div class="row">
    <div class="col-12 col-md-3">
        <img src="{{ '/img/mylifewiththedemon.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
    </div>
    <div class="col-12 col-md-9">
        <h2 class="h4"> From the original dust jacket </h2>
        <p>You get Keith Dunstan at his warm, witty and 'vintage' best in this sequel to his bestselling autobiography, No Brains At All.</p>
            
         <p>"Oh dear, when was the first occasion I was struck down by the Demon drink? It could have been when I was a server, an altar boy at Geelong Grammar. Keith takes you back to the golden days, when ladies sipped sherry, hotels closed at 6 pm sharp, and the 'boys' at war got a two bottle ration. <p>
         
         <p>And there's more. You discover what really happens when you flee the city to grow vines and enjoy the produce. You' find yourself chuckling along with Keith. He shares trials such as home bottling and brewing.</p>
         
         <p>We drove home with wine lapping around our ankles. It was six months before the smell of wine disappeared from the Holden. You're there as Keith steps out into his Paradise, not Provence in France, but Poplar Bend on the Mornington Peninsula…..</p>

<p>"I have just done a terrible thing, a terrible mistake. I just sprayed the entire vineyard with weed killer." </p>

<p>"The terrible thought came to mind. There is only one place my gold Omega watch could be. It must have slipped off while I was doing that vigorous plunging. It had to be in the fermenter under 1,000 litres of red must."<p>

<p>"Whatever happens, wine needs to be kept warm and comfortable. At our place regularly we have used the electric blankets. It is a splendid test for that part of the marriage vows about sharing all worldly goods."</p>

<p>Keith Dunstan is one of Australia's best known and most loved writers. His previous books are all bestsellers. Keith writes for the Herald Sun in Melbourne and for 20 years penned 'A Place in the Sun' daily for the Sun News-Pictorial to a huge and loyal readership. Keith continues to love life and the Demon.</p>

<p>"Moderate drinker live longer due to lower rates of heart disease. So 1 am pinning my hopes to that, devoting myself to the course of two glasses of the Demon daily, to keep myself away from the real Demon. Cheers!"</p>
      </p>
    </div>
</div>
<hr>
<div class="col-12 col-lg-8 offset-lg-2">
    <h2>Contents</h2>
<p>
            <ul class="lead">
                <li><a href="{{ '/books/my-life-with-the-demon/0-introduction' | url }}">Introduction</a></li>
                <li>Chapter 1: <a href="{{ '/books/my-life-with-the-demon/1-the-early-demon' | url }}">The Early Demon</a></li>
                 <li>Chapter 2: <a href="{{ '/books/my-life-with-the-demon/2-the-demon-in-command' | url }}">The Demon in Command</a></li>
                  <li>Chapter 3: <a href="{{ '/books/my-life-with-the-demon/3-the-beer-demon' | url }}">The Beer Demon</a></li>
                   <li>Chapter 4: <a href="{{ '/books/my-life-with-the-demon/4-finding-the-wine-demon' | url }}">Finding the Wine Demon</a></li>
                    <li>Chapter 5: <a href="{{ '/books/my-life-with-the-demon/5-the-demon-becomes-a-snob' | url }}">The Demon becomes a Snob</a></li>
                     <li>Chapter 6: <a href="{{ '/books/my-life-with-the-demon/6-the-creative-demon' | url }}">The Creative Demon</a></li>
                      <li>Chapter 7: <a href="{{ '/books/my-life-with-the-demon/7-the-virgin-vintage' | url }}">The Virgin Vintage</a></li>
                       <li>Chapter 8: <a href="{{ '/books/my-life-with-the-demon/8-the-bird-demon' | url }}">The Bird Demon</a></li>
                        <li>Chapter 9: <a href="{{ '/books/my-life-with-the-demon/9-it-is-essential-to-have-clean-feet' | url }}">It is Essential to Have Clean Feet</a></li>
                         <li>Chapter 10: <a href="{{ '/books/my-life-with-the-demon/10-bottling-the-demon' | url }}">Bottling the Demon</a></li>
                          <li>Chapter 11: <a href="{{ '/books/my-life-with-the-demon/11-achieving-divinity' | url }}">Achieving Divinity</a></li>
                           <li>Chapter 12: <a href="{{ '/books/my-life-with-the-demon/12-the-money-demon' | url }}">The Money Demon</a></li>
                            <li>Chapter 13: <a href="{{ '/books/my-life-with-the-demon/13-demonic-people' | url }}">Demonic People</a></li>
             
                </li>
            </ul>

</p>
</div>


