---
layout: layouts/default.njk
title: No brains at all
summary: Keith's first book of memoirs, published in 1990 cover his career in writing, reflections on Melbourne, working abroad and his family life.

---
<p class="lead">Keith's first book of memoirs, published in 1990 cover his career in writing, reflections on Melbourne, working abroad and his family life.</p>
<hr>


  <div class="row">
          <div class="col-12 col-md-3">

            <img src="{{ '/img/no-brains-at-all.jpg' | url }}" class="img-fluid"  alt="Cover of the  book">
          </div>
          <div class="col-12 col-md-9">

         <h2 class="h4"> From the original dust jacket </h2>
           {{ "no-brains-at-all" | bookContent("summary.md") | safe }}
          </div>
        </div>



<hr>
<div class="col-12 col-lg-8 offset-lg-2">



<h2 >Contents</h2>
<ul class="lead">
<li><a href="{{ '/books/no-brains-at-all/0-introduction' | url }}">Introduction</a></li>
<li>Chapter one: <a href="{{ '/books/no-brains-at-all/1-a-nice-suburb' | url }}">A nice suburb</a></li>
<li>Chapter two: <a href="{{ '/books/no-brains-at-all/2-education-by-flagellation' | url }}">Education by flagellation</a></li>
<li>Chapter three: <a href="{{ '/books/no-brains-at-all/3-siberia' | url }}">Siberia</a></li>
<li>Chapter four: <a href="{{ '/books/no-brains-at-all/4-following-a-vc' | url }}">Following a VC</a></li>
<li>Chapter five: <a href="{{ '/books/no-brains-at-all/5-the-sprog' | url }}">The sprog</a></li>
<li>Chapter six: <a href="{{ '/books/no-brains-at-all/6-the-stevedore' | url }}">The Stevedore</a></li>
<li>Chapter seven: <a href="{{ '/books/no-brains-at-all/7-byline-dreamer' | url }}">Byline dreamer</a></li>
<li>Chapter eight: <a href="{{ '/books/no-brains-at-all/8-correspondent' | url }}">Correspondent</a></li>
<li>Chapter nine: <a href="{{ '/books/no-brains-at-all/9-walking-the-tightrope' | url }}">Walking the tightrope</a></li>
<li>Chapter ten: <a href="{{ '/books/no-brains-at-all/10-apits' | url }}">APITS</a></li>
<li>Chapter eleven: <a href="{{ '/books/no-brains-at-all/11-the-antis' | url }}">The Antis</a></li>
<li>Chapter twelve: <a href="{{ '/books/no-brains-at-all/12-jumping-the-generation-gap' | url }}">Jumping the generaton gap</a></li>
<li>Chapter thirteen: <a href="{{ '/books/no-brains-at-all/13-pedalling-passion' | url }}">Pedalling passion</a></li>
<li>Chapter fourteen: <a href="{{ '/books/no-brains-at-all/14-the-virus' | url }}">The virus</a></li>
</ul>


</div>