---
layout: layouts/default.njk
title: 'Not a Bad Drop: Brown Brothers'
summary: A history of Brown Brothers, the Milawa, Victoria winemaking family, tracing four generations of the business from its founding vineyard to its reputation as a varietal wine specialist and innovator.
---
<p class="lead">Published in 1999 by Australian Scholarly Publishing, 'Not a Bad Drop: Brown Brothers' tells the story of one of Victoria's best-known winemaking families.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>A history of Brown Brothers of Milawa, tracing the family's reputation as varietal wine specialists and winemaking innovators across generations, while remaining a family-run, hand-crafting business through decades of change in the Australian wine industry.</p>
    <p>Published by Australian Scholarly Publishing, 1999. ISBN 1-875606-66-1.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
