---
layout: layouts/default.njk
title: Ratbags
summary: Keith's fourth book, published in 1980, profiles Australia's great eccentrics -- from Bea Miles to Percy Grainger.
---
<p class="lead">Keith's fourth book, published in 1980, profiles Australia's great eccentrics -- from Bea Miles to Percy Grainger.</p>
<hr>
<div class="row">
    <div class="col-12 col-md-3">
        <img src="{{ '/img/ratbags.jpg' | url }}" class="img-fluid" alt="Cover of the book">
    </div>
    <div class="col-12 col-md-9">
        <h3 class="h5"> From the original dust jacket </h3>
        <p>Ratbags is Keith Dunstan's fourth book which looks at Australians and the offbeat way they behave. The other titles which complete the quartet are Wowsers, Knockers and Sports.</p>
        <p>It has been suggested that Keith Dunstan himself is highly qualified as a ratbag, having spent a long and industrious career practising his eccentricities. He is the founder of The Anti Football League, The Pro Mini Club and The National Distrust.</p>
        <p>He has ridden a bicycle across America, has become a member of the anti-automobile lobby and has been a daily columnist for twenty-four years. But perhaps he has best earned the title of Ratbag by surviving as Batman of the Bulletin for 17 years. He is an achiever.</p>
    </div>
</div>
<hr>
<div class="col-12 col-lg-8 offset-lg-2">
    <h2>Contents</h2>
    <ul class="lead">
        <li><a href="{{ '/books/ratbags/1-foreword' | url }}">Foreword</a>, by Barry Humphries</li>
        <li><a href="{{ '/books/ratbags/2-introduction' | url }}">Introduction</a></li>
        <li><a href="{{ '/books/ratbags/3-beatrice-miles' | url }}">Beatrice Miles</a></li>
        <li><a href="{{ '/books/ratbags/4-stephen-harold-gascoigne' | url }}">Stephen Harold Gascoigne</a></li>
        <li><a href="{{ '/books/ratbags/5-john-barry-humphries' | url }}">John Barry Humphries</a></li>
        <li><a href="{{ '/books/ratbags/6-edward-william-cole' | url }}">Edward William Cole</a></li>
        <li><a href="{{ '/books/ratbags/7-clement-lindley-wragge' | url }}">Clement Lindley Wragge</a></li>
        <li><a href="{{ '/books/ratbags/8-james-george-beaney' | url }}">James George Beaney</a></li>
        <li><a href="{{ '/books/ratbags/9-alfred-edward-lynch' | url }}">Alfred Edward Lynch</a></li>
        <li><a href="{{ '/books/ratbags/10-hugh-donald-mcintosh' | url }}">Hugh Donald McIntosh</a></li>
        <li><a href="{{ '/books/ratbags/11-william-charles-wentworth-iv' | url }}">William Charles Wentworth IV</a></li>
        <li><a href="{{ '/books/ratbags/12-prince-leonard-of-hutt' | url }}">Prince Leonard of Hutt</a></li>
        <li><a href="{{ '/books/ratbags/13-george-dick-meudell' | url }}">George Dick Meudell</a></li>
        <li><a href="{{ '/books/ratbags/14-frank-thring' | url }}">Frank Thring</a></li>
        <li><a href="{{ '/books/ratbags/15-lillian-frank' | url }}">Lillian Frank</a></li>
        <li><a href="{{ '/books/ratbags/16-xavier-alfred-francis-herbert' | url }}">Xavier (Alfred Francis) Herbert</a></li>
        <li><a href="{{ '/books/ratbags/17-percy-wills-cerutty' | url }}">Percy Wills Cerutty</a></li>
        <li><a href="{{ '/books/ratbags/18-arthur-stace' | url }}">Arthur Stace</a></li>
        <li><a href="{{ '/books/ratbags/19-leonard-paul-evans' | url }}">Leonard Paul Evans</a></li>
        <li><a href="{{ '/books/ratbags/20-king-omalley' | url }}">King O'Malley</a></li>
        <li><a href="{{ '/books/ratbags/21-alexander-tolmer' | url }}">Alexander Tolmer</a></li>
        <li><a href="{{ '/books/ratbags/22-percy-aldridge-grainger' | url }}">Percy Aldridge Grainger</a></li>
        <li><a href="{{ '/books/ratbags/23-germaine-greer' | url }}">Germaine Greer</a></li>
        <li><a href="{{ '/books/ratbags/24-justus-jorgensen' | url }}">Justus Jorgensen</a></li>
        <li><a href="{{ '/books/ratbags/25-clement-john-de-garis' | url }}">Clement John De Garis</a></li>
        <li><a href="{{ '/books/ratbags/26-kevin-charles-pro-hart' | url }}">Kevin Charles — Pro Hart</a></li>
    </ul>
</div>
<hr>
<div class="col-12 col-lg-10 offset-lg-1">
    <h2>Acknowledgements</h2>
    <p>Thank-you particularly to all 'Ratbags' alive or dead included in this volume. Before any of them seek out their heavenly or earthly lawyers I would like to point out that none were included wheom I did not admire. Also I want my Ratbags to be achievers, people who had done something through the brilliance and courage of their Ratbaggery.</p>
    <p>There were many patient people who nurtured the manuscript on its way. Phillip Garrett, the quiet worker behind so many books was at my side again, showing his old brilliance at discovering the odd piece of information or tracking down the unfindable clue.</p>
    <p>Also I want to thank Alex Tolmer III, the equally unusual grandson of Alexander Tolmer I. Thanks too to Xavier Herbert, a generous gentleman who announced his ratbaggery with pride. Frank Thring splendidly revealed his astonishing childhood, Vera Bradford told of her days with Percy Grainger and Len Evans, by the side of his swimming pool, opened excellent champagne and white burgundy.</p>
    <p>More thanks to Cole Turnley, Prince Leonard of Hutt, Pro Hart, the Grainger Museum and the wonderful Kay Dreyfus who directs it. Thanks too to Helen Skipper, Jorgensens, Sigmund and Sebastian and Betty Rolan who kindly showed me her manuscript on Justus. Phillip Adams unselfishly fed ideas and I would have been nowhere without the libraries of the <i>Herald &amp; Weekly Times</i> Ltd., the <i>Sydney Morning Herald</i>, <i>Australian Consolidated Press</i>, the <i>Age</i>, the La Trobe and the Oxley.</p>
    <p>As for Sarah Dunstan, she typed and put it all together. Thank-you.</p>
</div>
