---
layout: layouts/default.njk
title: Ratbags
summary: Keith's fourth book, published in 1980, profiles Australia's great eccentrics -- from Bea Miles to Percy Grainger.
---
<p class="lead">Keith's fourth book, published in 1980, profiles Australia's great eccentrics -- from Bea Miles to Percy Grainger.</p>
<hr>
<div class="row">
    <div class="col-12 col-md-3">
        <img src="{{ '/img/ratbags.jpg' | url }}" class="img-fluid" alt="Cover of the book">
    </div>
    <div class="col-12 col-md-9">
        <h3 class="h5"> From the original dust jacket </h3>
        {{ "ratbags" | bookContent("summary.md") | safe }}
    </div>
</div>
<hr>
<div class="col-12 col-lg-8 offset-lg-2">
    <h2>Contents</h2>
    <ul class="lead">
        <li><a href="{{ '/books/ratbags/0-foreword' | url }}">Foreword</a>, by Barry Humphries</li>
        <li><a href="{{ '/books/ratbags/1-introduction' | url }}">Introduction</a></li>
        <li><a href="{{ '/books/ratbags/2-beatrice-miles' | url }}">Beatrice Miles</a></li>
        <li><a href="{{ '/books/ratbags/3-stephen-harold-gascoigne' | url }}">Stephen Harold Gascoigne</a></li>
        <li><a href="{{ '/books/ratbags/4-john-barry-humphries' | url }}">John Barry Humphries</a></li>
        <li><a href="{{ '/books/ratbags/5-edward-william-cole' | url }}">Edward William Cole</a></li>
        <li><a href="{{ '/books/ratbags/6-clement-lindley-wragge' | url }}">Clement Lindley Wragge</a></li>
        <li><a href="{{ '/books/ratbags/7-james-george-beaney' | url }}">James George Beaney</a></li>
        <li><a href="{{ '/books/ratbags/8-alfred-edward-lynch' | url }}">Alfred Edward Lynch</a></li>
        <li><a href="{{ '/books/ratbags/9-hugh-donald-mcintosh' | url }}">Hugh Donald McIntosh</a></li>
        <li><a href="{{ '/books/ratbags/10-william-charles-wentworth-iv' | url }}">William Charles Wentworth IV</a></li>
        <li><a href="{{ '/books/ratbags/11-prince-leonard-of-hutt' | url }}">Prince Leonard of Hutt</a></li>
        <li><a href="{{ '/books/ratbags/12-george-dick-meudell' | url }}">George Dick Meudell</a></li>
        <li><a href="{{ '/books/ratbags/13-frank-thring' | url }}">Frank Thring</a></li>
        <li><a href="{{ '/books/ratbags/14-lillian-frank' | url }}">Lillian Frank</a></li>
        <li><a href="{{ '/books/ratbags/15-xavier-alfred-francis-herbert' | url }}">Xavier (Alfred Francis) Herbert</a></li>
        <li><a href="{{ '/books/ratbags/16-percy-wills-cerutty' | url }}">Percy Wills Cerutty</a></li>
        <li><a href="{{ '/books/ratbags/17-arthur-stace' | url }}">Arthur Stace</a></li>
        <li><a href="{{ '/books/ratbags/18-leonard-paul-evans' | url }}">Leonard Paul Evans</a></li>
        <li><a href="{{ '/books/ratbags/19-king-omalley' | url }}">King O'Malley</a></li>
        <li><a href="{{ '/books/ratbags/20-alexander-tolmer' | url }}">Alexander Tolmer</a></li>
        <li><a href="{{ '/books/ratbags/21-percy-aldridge-grainger' | url }}">Percy Aldridge Grainger</a></li>
        <li><a href="{{ '/books/ratbags/22-germaine-greer' | url }}">Germaine Greer</a></li>
        <li><a href="{{ '/books/ratbags/23-justus-jorgensen' | url }}">Justus Jorgensen</a></li>
        <li><a href="{{ '/books/ratbags/24-clement-john-de-garis' | url }}">Clement John De Garis</a></li>
        <li><a href="{{ '/books/ratbags/25-kevin-charles-pro-hart' | url }}">Kevin Charles — Pro Hart</a></li>
    </ul>
</div>
<hr>
<div class="col-12 col-lg-10 offset-lg-1">
    <h2>Acknowledgements</h2>
    {{ "ratbags" | bookContent("acknowledgements.md") | safe }}
</div>
