---
layout: layouts/default.njk
title: Saint Ned
summary: Keith's 1980 study of Ned Kelly, tracing the outlaw's near-sanctification in Australian art, literature and popular memory a century after his hanging, from the Fitzpatrick incident and the Stringybark Creek killings through to the sieges at Euroa and Jerilderie.
---
<p class="lead">Published in 1980 by Methuen of Australia, 'Saint Ned' asks why a convicted murderer became the closest thing Australia has to a secular saint.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/saintned.jpg' | url }}" class="img-fluid" alt="Cover of the book">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>A hundred years after Ned Kelly's execution, Keith Dunstan surveys the extraordinary industry of books, paintings, plays and songs his life inspired, from Sidney Nolan's Kelly series to Norman Lindsay's last defence of the outlaw, and sets out to explain why Australians took a convicted murderer to their hearts as a folk hero.</p>
  </div>
</div>
<hr>
<h2>Contents</h2>
<ul class="lead">
<li>Chapter One: <a href="{{ '/books/saint-ned/1-the-legend/' | url }}">The Legend</a></li>
<li>Chapter Two: <a href="{{ '/books/saint-ned/2-the-making-of-a-paranoid/' | url }}">The Making of a Paranoid</a></li>
<li>Chapter Three: <a href="{{ '/books/saint-ned/3-massacre-at-stringybark/' | url }}">Massacre at Stringybark</a></li>
<li>Chapter Four: <a href="{{ '/books/saint-ned/4-mr-kelly-at-euroa/' | url }}">Mr Kelly at Euroa</a></li>
<li>Chapter Five: Mr Kelly at Jerilderie</li>
<li>Chapter Six: The End of Aaron</li>
<li>Chapter Seven: The End at Glenrowan</li>
<li>Chapter Eight: No Mercy in Melbourne</li>
<li>Chapter Nine: Mr Kelly Purified</li>
<li>Chapter Ten: Mr Kelly's Relics</li>
<li>Chapter Eleven: Mr Kelly and the Cash Register</li>
</ul>
<hr>
<div class="col-12 col-lg-10 offset-lg-1">
    <h2>Acknowledgements</h2>
    <p>Mr Edward Kelly is the man I should be thanking. On his own he has inspired practically an entire publishing industry yet he is the one who received least out of it. Wherever you may be, and that is still a matter of some controversy, I do thank you Mr Kelly.</p>
    <p>Also I am indebted to the superb cutting files of the library of the Herald &amp; Weekly Times Ltd. The H. &amp; W. T. also supplied many of the photographs. The Victorian Police Department, which had little cause to thank Mr Kelly, was very gracious in its help. The La Trobe Library in Melbourne supplied much information and many of those beautifully etched pictures from the journals of the 1870s and 80s. I thank the National Gallery in Melbourne for permission to reproduce paintings by Sidney Nolan. I am grateful too for the help of old friends, Ian Jones, the most expert of all Kelly experts, and collectors of memorabilia, Don and Valda Tibbits of Glenrowan and Ernest Straughair of Benalla.</p>
</div>
