---
layout: layouts/default.njk
title: Saint Ned
summary: Keith's 1980 study of Ned Kelly, tracing the outlaw's near-sanctification in Australian art, literature and popular memory a century after his hanging, from the Fitzpatrick incident and the Stringybark Creek killings through to the sieges at Euroa and Jerilderie.
---
<p class="lead">Published in 1980 by Methuen of Australia, 'Saint Ned' asks why a convicted murderer became the closest thing Australia has to a secular saint.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/saintned.jpg' | url }}" class="img-fluid" alt="Cover of the book">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    {{ "saint-ned" | bookContent("summary.md") | safe }}
  </div>
</div>
<hr>
<h2>Contents</h2>
<ul class="lead">
<li>Chapter One: <a href="{{ '/books/saint-ned/1-the-legend/' | url }}">The Legend</a></li>
<li>Chapter Two: <a href="{{ '/books/saint-ned/2-the-making-of-a-paranoid/' | url }}">The Making of a Paranoid</a></li>
<li>Chapter Three: <a href="{{ '/books/saint-ned/3-massacre-at-stringybark/' | url }}">Massacre at Stringybark</a></li>
<li>Chapter Four: <a href="{{ '/books/saint-ned/4-mr-kelly-at-euroa/' | url }}">Mr Kelly at Euroa</a></li>
<li>Chapter Five: Mr Kelly at Jerilderie</li>
<li>Chapter Six: The End of Aaron</li>
<li>Chapter Seven: The End at Glenrowan</li>
<li>Chapter Eight: No Mercy in Melbourne</li>
<li>Chapter Nine: Mr Kelly Purified</li>
<li>Chapter Ten: Mr Kelly's Relics</li>
<li>Chapter Eleven: Mr Kelly and the Cash Register</li>
</ul>
<hr>
<div class="col-12 col-lg-10 offset-lg-1">
    <h2>Acknowledgements</h2>
    {{ "saint-ned" | bookContent("acknowledgements.md") | safe }}
</div>
