---
title: Search
titleClass: h2 mb-2
layout: layouts/default.njk
permalink: search.html
---
<p class="text-muted mb-5">Search by term, or browse by topic below.</p>

<h2 class="h5">Search by term</h2>
<script async src="https://cse.google.com/cse.js?cx=377210222f0fe08d8"></script>
<div class="gcse-search mb-5"></div>

<h2 class="h5">Or browse by topic</h2>
{% include 'snippets/tagslist.njk' %}