---
layout: layouts/default.njk
title: Seven Cities of Australia
summary: A 1978 anthology edited by John Ferguson in which seven Australian writers each profile one of the country's major cities; Keith Dunstan contributed the Melbourne chapter.
---
<p class="lead">Published in 1978 and edited by John Ferguson, <em>Seven Cities of Australia</em> brings together seven writers to profile Australia's major cities. Keith Dunstan contributed the Melbourne chapter, 'Melbourne: A Perfect Nineteenth-Century City'.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">Keith's chapter</h2>
    <p>Keith Dunstan's contribution surveys Melbourne from its flat, tram-friendly geography and gold rush bravado through the crash of 1892 and its lasting inferiority complex, then takes the reader on a tour through Toorak, St Patrick's Cathedral, Parliament House and the Windsor Hotel, closing with restaurant recommendations ranging from Emil's in Lonsdale Street to Smacka Fitzgibbon's jazz bar in North Melbourne.</p>
    <p><a href="{{ '/books/seven-cities-of-australia/melbourne/' | url }}">Read Keith's chapter here.</a></p>
  </div>
</div>
