---
layout: layouts/default.njk
title: Sources and characters
---
<h2>Characters in the texts</h2>
<p>As the vast majority of Keith's writing is observational, and often historical, it is expected some newer audiences may not be familiar with some of the characters named. This growing list helps bring some of them out of obscurity and points readers to where else they may be mentioned.</p>
* Brown Brothers of Milawa - description here.<br>
* Dan Murphy  - description here.<br>
* Doug Crittenden  - description here.<br>
* James Halliday  - description here.<br>
* Jeff Hook  - description here.<br>
* John C Brown  - description here.<br>
* Len Evans   - description here.<br>
* Osmar White - description here.<br>
* Peter Walker  - description here.<br>
* Prince Philip  - description here.<br>
* Sir Rohan Delacombe  - description here.<br>
* William Dunstan VC  - description here.<br>
* (Benjamin) Gayelord Hauser  - description here.<br>
* (Bishop) Charles Perry  - description here.<br>
* (Dean) Hussey Burgh Macartney  - description here.<br>
* (Pastor) Sid Denton  - description here.<br>
* Sir David Checketts  - description here.<br>
* (Thich) Quang Do  - description here.<br>
* Adam Lindsay Gordon  - description here.<br>
* Adrian Benns  - description here.<br>
* Air Training Corps  - description here.<br>
* Alan Holmes Bonnie Muir  - description here.<br>
* Alderman Hills  - description here.<br>
* Alex Olmedo  - description here.<br>
* Alexander Colquhoun  - description here.<br>
* Alfred Heintz  - description here.<br>
* All Saints Winery  - description here.<br>
* Allan Wilkie  - description here.<br>
* Anatole de Courde de Montaiglon  - description here.<br>
* Andre Simon  - description here.<br>
* Andrew Hickinbotham  - description here.<br>
* Anthony Eden  - description here.<br>
* Anthony Hanson  - description here.<br>
* Archer Thomas  - description here.<br>
* Arthur Richards  - description here.<br>
* Arthur Russell  - description here.<br>
* Ashley Harris  - description here.<br>
* Ava Gardner  - description here.<br>
* Avro Ansons  - description here.<br>
* Baillieu Myer  - description here.<br>
* Balikpape  - description here.<br>
* Bangkok  - description here.<br>
* Baron Ferdinand von Mueller  - description here.<br>
* Barry Humphries  - description here.<br>
* Ben Casey  - description here.<br>
* Ben Chifley  - description here.<br>
* Ben Hur - film  - description here.<br>
* Berek Segan  - description here.<br>
* Bernard (Midget) Farrelly  - description here.<br>
* Bill Tipping  - description here.<br>
* Billy Hughes  - description here.<br>
* Bing Crosby  - description here.<br>
* Bob Dalziel  - description here.<br>
* Bob Millar  - description here.<br>
* Brian Breheny  - description here.<br>
* Brian Dixon  - description here.<br>
* Brian Hill  - description here.<br>
* Brian Johnstone  - description here.<br>
* Bronwyn Bishop  - description here.<br>
* Bruce Bretherton  - description here.<br>
* Bruce Matear  - description here.<br>
* Buster Keaton  - description here.<br>
* Captain Frederick Standish  - description here.<br>
* Cardinal Patrick Francis Moran  - description here.<br>
* Cassandra (William Connor)  - description here.<br>
* Cathedral Hotel  - description here.<br>
* Catherine the Great  - description here.<br>
* Cecil B. de Mille  - description here.<br>
* Cecil Roberts  - description here.<br>
* Charles Eadon-Clarke  - description here.<br>
* Charles Hector McFadyen  - description here.<br>
* Charles Henry Pearson  - description here.<br>
* Charles Malpas  - description here.<br>
* Charley Gray  - description here.<br>
* Charlton Heston  - description here.<br>
* Chico Marx  - description here.<br>
* Chloe  - description here.<br>
* Christine Borge  - description here.<br>
* Christopher Daniel  - description here.<br>
* Clara Bow  - description here.<br>
* Cloudland  - description here.<br>
* Cockfighting  - description here.<br>
* Cocktails  - description here.<br>
* Colin Bednall  - description here.<br>
* Colin Preece  - description here.<br>
* Commander Jock Colville  - description here.<br>
* Curly Rourke  - description here.<br>
* Cyril H Denny  - description here.<br>
* Cyril Pearl  - description here.<br>
* Dame Joan Sutherland  - description here.<br>
* Dame Mabel Brookes  - description here.<br>
* Dame Nellie Melba   - description here.<br>
* Brian Fitzpatrick  - description here.<br>
* Danny Kaye  - description here.<br>
* Darren Kelly  - description here.<br>
* David Dunstan  - description here.<br>
*  David Livingstone - 19th century explorer, famous for his missionary work and travels through Africa. <a class="small" href="https://en.wikipedia.org/wiki/David_Livingstone">more at Wikipedia</a><br>
* David Thomas  - description here.<br>
* Derek Rumbold  - description here.<br>
* Desmond Zwar  - description here.<br>
* Don Lunn  - description here.<br>
* Donald Campbell  - description here.<br>
* Donald Friend  - description here.<br>
* Donald Shanks  - description here.<br>
* Douglas Lockwood  - description here.<br>
* Douglas Pike  - description here.<br>
* Douglas Seabrook  - description here.<br>
* Douglas Wilkie  - description here.<br>
* Dr Bob Birrell  - description here.<br>
* Dr Carl Resch  - description here.<br>
* Dr FB Barry Smith  - description here.<br>
* Dr John Wilson  - description here.<br>
* Dr Max Lake  - description here.<br>
* Dr Samuel Johnson  - description here.<br>
* Dr Thomas Fitzgerald  - description here.<br>
* Dr Bertram Wainer  - description here.<br>
* Dr James Darling  - description here.<br>
* Dr Jim Cairns  - description here.<br>
* E Tennyson Smith  - description here.<br>
* E.W. Bill Tipping  - description here.<br>
* Edmund Barton  - description here.<br>
* Edna Everage  - description here.<br>
* Eildon Reservoir  - description here.<br>
* Elizabeth - the Queen Mother  - description here.<br>
* Elizabeth Taylor  - description here.<br>
* Elizabeth West  - description here.<br>
* Eric Clapham  - description here.<br>
* Eric Purbrick  - description here.<br>
* Eric Westbrook  - description here.<br>
* Ernie Sigley  - description here.<br>
* Ettie Hall  - description here.<br>
* Eyrean Grasswren  - description here.<br>
* Farrago  - description here.<br>
* Florentino Restaurant  - description here.<br>
* Frances Knorr  - description here.<br>
* Frank Beaurepaire  - description here.<br>
* Frank Chin  - description here.<br>
* Frank Christie  - description here.<br>
* Frank Daly  - description here.<br>
* Frank Doczy  - description here.<br>
* Frank Reinehr  - description here.<br>
* Frank Sedgman  - description here.<br>
* Frank Sinatra  - description here.<br>
* Frank Thring Snr  - description here.<br>
* Fred Goding  - description here.<br>
* Fred Williams  - description here.<br>
* Frederick Hadkinson Bromley  - description here.<br>
* Frederick McCubbin  - description here.<br>
* Frederick Scherger  - description here.<br>
* Garry Crittenden  - description here.<br>
* Geoffrey Serle  - description here.<br>
* George Coppin  - description here.<br>
* George Francis Morris  - description here.<br>
* George Moore  - description here.<br>
* George Sutherland Smith III  - description here.<br>
* George Wootten  - description here.<br>
* Georges  - description here.<br>
* Gold Coast  - description here.<br>
* Gold Rush  - description here.<br>
* Goorambat  - description here.<br>
* Gos Lane  - description here.<br>
* Gough Whitlam  - description here.<br>
* Graham Walsh  - description here.<br>
* Great Western  - description here.<br>
* Greg Gallagher  - description here.<br>
* Greg Russell  - description here.<br>
* Greg Siple -  - Co-founder of the American bikecentennial in 1976, advocate for cycle touring and co founder of the <a href="https://www.adventurecycling.org/about-us/history/"> Adventure Cycling Association</a><br>
* Griffith  - description here.<br>
* Hans Irvine  - description here.<br>
* Harold Gengoult Smith  - description here.<br>
* Harold Holt  - description here.<br>
* Harry Emmerton  - description here.<br>
* Harry Houdini  - description here.<br>
* Harry Rickard  - description here.<br>
* Henry Bolte  - description here.<br>
* Henry Figsby Young  - description here.<br>
* Henry James O'Farrell - - Attempted a political assassination in Australia in 1868, by shooting Prince Alfred, Duke of Edinburgh. <a class="small" href="https://en.wikipedia.org/wiki/Henry_O%27Farrell">More at wikipedia</a><br>
* Henry Lawson  - description here.<br>
* Henry Louis Mencken  - description here.<br>
* Henry Varley  - description here.<br>
* Herb Caen  - description here.<br>
* Hermann Schneider  - description here.<br>
* HG Wells  - description here.<br>
* Hilton Nicholas  - description here.<br>
* Hobart  - description here.<br>
* Hugh Fraser  - description here.<br>
* Ian Home  - description here.<br>
* Ian Johnson  - description here.<br>
* Ian Mackenzie  - description here.<br>
* Ian Matthews - Portavin  - description here.<br>
* Ian Sutherland Smith  - description here.<br>
* Imants Dizgalvis  - description here.<br>
* Imogene Coca  - description here.<br>
* Irene Handl  - description here.<br>
* Ivan Fedorovich Skripov  - description here.<br>
* Ivan Kurdyukov, Russian Ambassador  - description here.<br>
* J. F. Williams  - description here.<br>
* J. Stewart Legge  - description here.<br>
* J.C. (Jimmy) Watson  - description here.<br>
* Jack Brewster  - description here.<br>
* Jack Dyer  - description here.<br>
* Jack Eddy  - description here.<br>
* Jack Riley  - description here.<br>
* Jack Williams  - description here.<br>
* James Balfour  - description here.<br>
* James Goodall Francis  - description here.<br>
* James Mirams  - description here.<br>
* James Patterson  - description here.<br>
* Jan Rubini  - description here.<br>
* Jean Shrimpton  - description here.<br>
* Jean-Antoine Chaptal  - description here.<br>
* Jeff Kennett  - description here.<br>
* Jeff Moss  - description here.<br>
* Jimmy Watson  - description here.<br>
* Joe Sullivan  - description here.<br>
* John and Frank Livingstone  - description here.<br>
* John and Marjorie Paterson  - description here.<br>
* John and Patricia Brown  - description here.<br>
* John Bechervaise  - description here.<br>
* John Beeston  - description here.<br>
* John Cahill  - description here.<br>
* John Cunnington  - description here.<br>
* John Hope, 7th Earl of Hopetoun  - description here.<br>
* John Landy  - description here.<br>
* John Makin  - description here.<br>
* John McCormack  - description here.<br>
* John Monks  - description here.<br>
* John Morgan  - description here.<br>
* John Munro Bruce  - description here.<br>
* John Norton  - description here.<br>
* John Russell  - description here.<br>
* Johnnie Ray  - description here.<br>
* Joseph Swan  - description here.<br>
* Jules Joseph Lefebvre  - description here.<br>
* June Bronhill  - description here.<br>
* Kate Bailleu  - description here.<br>
* Kathleen Quealy  - description here.<br>
* Ken and Wendy Bilham  - description here.<br>
* Ken Healy  - description here.<br>
* King Bhumibol  - description here.<br>
* King Brumby  - description here.<br>
* King George V  - description here.<br>
* King Metakaka  - description here.<br>
* Kirwan Ward  - description here.<br>
* Kununurra  - description here.<br>
* Kure (Diggers) waifs  - description here.<br>
* Lady (Iona) Carrington  - description here.<br>
* Lady Elisabeth Murdoch  - description here.<br>
* Larissa Trembovelskaya  - description here.<br>
* Len Beadell  - description here.<br>
* Len Robinson  - description here.<br>
* Leon Massoni  - description here.<br>
* Les Francis  - description here.<br>
* Lew Hoad  - description here.<br>
* Lillian Frank  - description here.<br>
* Lindsay Hassett  - description here.<br>
* Lionel Palairet  - description here.<br>
* Lola Montez  - description here.<br>
* Lord Casey, Governor-General  - description here.<br>
* Lou Richards  - description here.<br>
* Louis Abrahams  - description here.<br>
* Louis Beltran  - description here.<br>
* Louis Lawrence Smith  - description here.<br>
* Lucian Dressell  - description here.<br>
* Luna Park  - description here.<br>
* Lyle Cousland  - description here.<br>
* Mackay  - description here.<br>
* Malcolm Muggeridge  - description here.<br>
* Manfred von Richthofen  - description here.<br>
* Manila  - description here.<br>
* Manning Clark  - description here.<br>
* Manus Island  - description here.<br>
* Marble Bar  - description here.<br>
* Margaret Olley  - description here.<br>
* Margaret Rutherford  - description here.<br>
* Marie Dunstan  - description here.<br>
* Marie Lloyd  - description here.<br>
* Marie Rose  - description here.<br>
* Marie Stopes  - description here.<br>
* Marion Mahoney  - description here.<br>
* Marlene Dietrich  - description here.<br>
* Marrabel  - description here.<br>
* Marshal Gyorgy Zhukov  - description here.<br>
* Masaaki Usui  - description here.<br>
* Max Hillier  - description here.<br>
* Max Suich  - description here.<br>
* Merimbukla  - description here.<br>
* Michael Davie  - description here.<br>
* Milton Johnson  - description here.<br>
* Montsalvat  - description here.<br>
* Mooloolabar  - description here.<br>
* Moomba  - description here.<br>
* Morotai  - description here.<br>
* Mrs Beeton  - description here.<br>
* Mustang  - description here.<br>
* Myrtletord  - description here.<br>
* Nandi airport  - description here.<br>
* Napoleon Bonaparte  - description here.<br>
* Nat and Rosalie White  - description here.<br>
* Neill Robb  - description here.<br>
* Neville Baker  - description here.<br>
* New York Herald-Tribune  - description here.<br>
* New York Yacht Club  - description here.<br>
* New York  - description here.<br>
* Noel Hawken  - description here.<br>
* Noosa  - description here.<br>
* Norman Brown  - description here.<br>
* Norman McKinnell  - description here.<br>
* Norman Strang  - description here.<br>
* Ord River  - description here.<br>
* P. OSullivan  - description here.<br>
* Paddy Hopkirk  - description here.<br>
* Palm Beach - NSW  - description here.<br>
* Pancho Segura  - description here.<br>
* Papua New Guinea  - description here.<br>
* Paris Match magazine  - description here.<br>
* Patricia Rumbold  - description here.<br>
* Patrick Tennison  - description here.<br>
* Paul Sheahan  - description here.<br>
* Pedler Palmer  - description here.<br>
* Pelham Warner  - description here.<br>
* Percy Cerutty  - description here.<br>
* Peter Carey  - description here.<br>
* Peter Cudlipp  - description here.<br>
* Peter Grant Hay  - description here.<br>
* Peter Janson  - description here.<br>
* Peter Joyce  - description here.<br>
* Peter Lehmann  - description here.<br>
* Peter McIntosh  - description here.<br>
* Peter McMahon  - description here.<br>
* Peter Poole  - description here.<br>
* Peter Temm  - description here.<br>
* Peter Ustinov  - description here.<br>
* Philip Roth  - description here.<br>
* Philip Suter  - description here.<br>
* Phillip Adams  - description here.<br>
* Phillip Garrett  - description here.<br>
* Primo Carnera  - description here.<br>
* Prince Alfred the Duke Edinburgh  - description here.<br>
* Princess Alexandra  - description here.<br>
* Queen Sirikit  - description here.<br>
* Randal Heymanson  - description here.<br>
* Reg Egan  - description here.<br>
* Reg Fogarty  - description here.<br>
* Reschs  - description here.<br>
* Reverend Bishop Samuel Thornton  - description here.<br>
* Reverend Dr Adam Cairns  - description here.<br>
* Reverend F W Fitchett  - description here.<br>
* Reverend JC Symons  - description here.<br>
* Reverend John Sutton  - description here.<br>
* Reverend M Mackay  - description here.<br>
* Reverend Sir Irving Benson  - description here.<br>
* Reverend Charles Strong  - description here.<br>
* Reverend Bishop Ian Shevill  - description here.<br>
* Reverend E. C. Crotty  - description here.<br>
* Reverend Irving Benson  - description here.<br>
* Rhine Castle Wines  - description here.<br>
* Richard Ernest Nowell (R.E.N.) Twopeny  - description here.<br>
* Ricthie Fraser  - description here.<br>
* Robert "Nat" Young  - description here.<br>
* Robert Francis Bruce (Bob) Lefroy  - description here.<br>
* Robert Ohara Burke  - description here.<br>
* Robin Boyd  - description here.<br>
* Rocco Tallarida  - description here.<br>
* Ronald Colman  - description here.<br>
* Ronald Dowd  - description here.<br>
* Ronald Searle  - description here.<br>
* Roy (Mo) Rene  - description here.<br>
* Roy Dotrice  - description here.<br>
* Roy Wheeler  - description here.<br>
* Rudi Komon  - description here.<br>
* Rudolf Pekárek  - description here.<br>
* Rupert Bunny  - description here.<br>
* Samuel Mauger  - description here.<br>
* Savoy Theatre  - description here.<br>
* Second World War  - description here.<br>
* Senator Richard Keane  - description here.<br>
* Shenandoah  - description here.<br>
* Sid Caesar  - description here.<br>
* Sidney J. Baker  - description here.<br>
* Sigmund Jorgensen  - description here.<br>
* Sir Alexander Peacock  - description here.<br>
* Sir Arthur Fadden  - description here.<br>
* Sir Arthur Gordon Rylah  - description here.<br>
* Sir Charles Darling  - description here.<br>
* Sir Dallas Brooks - Governor  - description here.<br>
* Sir Donald Bradman  - description here.<br>
* Sir Eugene Gorman  - description here.<br>
* Sir George Ferguson Bowen  - description here.<br>
* Sir George Foster Pearce  - description here.<br>
* Sir George Tallis  - description here.<br>
* Sir Henry Barkly  - description here.<br>
* Sir Henry Parkes  - description here.<br>
* Sir Henry Wrixon  - description here.<br>
* Sir Keith Murdoch  - description here.<br>
* Sir Kenneth Luke  - description here.<br>
* Sir Leo Curtis - Lord Mayor  - description here.<br>
* Sir Leo Curtis  - description here.<br>
* Sir Maurice Nathan - Lord Mayor  - description here.<br>
* Sir Norman Brookes  - description here.<br>
* Sir Robert Menzies  - description here.<br>
* Sir William Slim - Governor-General  - description here.<br>
* Sondrestrom  - description here.<br>
* Sophie Tucker  - description here.<br>
* Sopwith Camel  - description here.<br>
* South Yarra  - description here.<br>
* Squadron Leader Lawrence Henry Hicks  - description here.<br>
* Squizzy Taylor  - description here.<br>
* St George Hotel  - description here.<br>
* St Georges Hall  - description here.<br>
* Stan Keon  - description here.<br>
* Stanley Bruce  - description here.<br>
* Stanley Kowalski  - description here.<br>
* Steamboat  - description here.<br>
* Stefan Haag  - description here.<br>
* Stuart Legge  - description here.<br>
* Summer holidays  - description here.<br>
* Surfing  - description here.<br>
* Swan Lager  - description here.<br>
* Swanston Street  - description here.<br>
* T & G Building  - description here.<br>
* T. H. Goodwin  - description here.<br>
* T.R. (Thomas Ronald) Garnett - headmaster  - description here.<br>
* T.S. Eliot  - description here.<br>
* Tailor and Cutter magazine  - description here.<br>
* Tania Verstak  - description here.<br>
* Tattersalls  - description here.<br>
* Ted Zakorski  - description here.<br>
* Terry Laidler  - description here.<br>
* Texas  - description here.<br>
* Thailand  - description here.<br>
* Walter ODonoghue  - description here.<br>
* Theodore F. Racoosin  - description here.<br>
* Theyre a Weird Mob - film  - description here.<br>
* Thistle Anderson (Mrs Herbert Fisher)  - description here.<br>
* Thomas Humphrey  - description here.<br>
* Thomas Trood  - description here.<br>
* Tivoli theatre  - description here.<br>
* Tom Ford  - description here.<br>
* Tom Seabrook  - description here.<br>
* Tommy Cannon  - description here.<br>
* Tony Fenelon  - description here.<br>
* Tramways union  - description here.<br>
* Tulloch Wines  - description here.<br>
* Victor Harbour  - description here.<br>
* Vietnam War  - description here.<br>
* Vietnam  - description here.<br>
* Virgil Thomson  - description here.<br>
* Vivienne Massoni  - description here.<br>
* W.M. (Billy) Hughes  - description here.<br>
* WAAAF  - description here.<br>
* Walgett  - description here.<br>
* Wallhalla  - description here.<br>
* Walter Burley Griffin  - description here.<br>
* Walter Chiari  - description here.<br>
* Warwick W Armstrong  - description here.<br>
* Weston Bate  - description here.<br>
* Whelan the Wrecker  - description here.<br>
* Wickham River  - description here.<br>
* William Artnhur Holman  - description here.<br>
* William John Wills  - description here.<br>
* William Kelly  - description here.<br>
* William Painter  - description here.<br>
* William Pitt  - description here.<br>
* William Shiels  - description here.<br>
* William Simaurez Smith  - description here.<br>
* Yone Ito  - description here.<br>
<hr>
<p>Descriptions are provided by the <a href="{{ '/about' | url }}">editors.</a></p>
