---
layout: layouts/default.njk
title: Sports
summary: Keith's 1973 study of the Australian sporting obsession, tracing the nation's mania for cricket, football, racing, swimming, rowing, boxing, cycling, athletics, billiards and blood sports from the 1870s to the 1970s.
---
<p class="lead">Published in 1973, 'Sports' is part of Dunstan's quartet of books examining Australian character, alongside <em>Wowsers</em>, <em>Knockers</em> and <em>Ratbags</em>.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/sports.jpg' | url }}" class="img-fluid" alt="Cover of the book">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    {{ "sports" | bookContent("summary.md") | safe }}
  </div>
</div>
<hr>
<h2>Contents</h2>
<ul class="lead">
<li><a href="{{ '/books/sports/0-introduction/' | url }}">Introduction</a></li>
<li><a href="{{ '/books/sports/1-our-sporting-obsession/' | url }}">Our Sporting Obsession</a></li>
<li><a href="{{ '/books/sports/2-the-passion-at-school/' | url }}">The Passion at School</a></li>
<li><a href="{{ '/books/sports/3-the-racing-passion/' | url }}">The Racing Passion</a></li>
<li><a href="{{ '/books/sports/4-the-cricket-passion/' | url }}">The Cricket Passion</a></li>
<li><a href="{{ '/books/sports/5-the-swimming-passion/' | url }}">The Swimming Passion</a></li>
<li><a href="{{ '/books/sports/6-the-tennis-passion/' | url }}">The Tennis Passion</a></li>
<li><a href="{{ '/books/sports/7-the-rowing-passion/' | url }}">The Rowing Passion</a></li>
<li><a href="{{ '/books/sports/8-the-boxing-passion/' | url }}">The Boxing Passion</a></li>
<li><a href="{{ '/books/sports/9-the-football-passion/' | url }}">The Football Passion</a></li>
<li>The Pedalling Passion</li>
<li><a href="{{ '/books/sports/11-the-athletic-passion/' | url }}">The Athletic Passion</a></li>
<li><a href="{{ '/books/sports/12-the-billiards-passion/' | url }}">The Billiards Passion</a></li>
<li><a href="{{ '/books/sports/13-the-killing-passion/' | url }}">The Killing Passion</a></li>
</ul>
<hr>
<div class="col-12 col-lg-10 offset-lg-1">
    <h2>Acknowledgements</h2>
    {{ "sports" | bookContent("acknowledgements.md") | safe }}
</div>
