---
layout: layouts/default.njk
title: Supporting a Column
summary: Keith's first book of memoirs, published in 1990 cover his career in writing, reflections on Melbourne, working abroad and his family life.

---
<p class="lead">
    Keith's second book, published in 1966, reflects on the trails of taking on a daily column in the Sun News Pictorial and his efforts in keeping it upright.</p>
<hr>
<div class="row">
    <div class="col-12 col-md-3">
        <img src="{{ '/img/supporting-a-column.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
    </div>
    <div class="col-12 col-md-9">
        <h2 class="h4"> From the original dust jacket </h2>
        <p>One of Australia's best known journalists tells how his daily column takes shape and is eventually filled — if sometimes at the very last minute. Personalities, entertainers, Royalty, fire, flood and accident are all ready sources for material, but the columnist tells the story 'behind the news' and usually has to discover it or even encourage it personally.</p>
        <p>
            Some of the better known people who have helped Keith Dunstan support his columns in the Brisbane Courier-Mail and the Melbourne Sun News-Pictorial have included Danny Kaye, Peter Ustinov, the Beatles, the 'Shrimp', the Livingston brothers, Sophie Tucker,
            Dame Mabel Brookes and Barry Humphries. He writes about them (and many, many others), with wit and perception. He also has some illuminating things to say about Royal Tours and the relationship between members of the Royal Family and the Press.
            </p>
        <p>
            His columns have taken him around Australia and beyond. He has visited nuclear bomber bases in the United States; Buddhist priests in Vietnam; cock fights in Manila and the 'Aus-tralian' waifs at Kure in Japan. Keith Dunstan is frank and amusing — this book makes highly entertaining reading.
        </p>
    </div>
</div>
<hr>
<div class="col-12 col-lg-8 offset-lg-2">
         <h2>Contents</h2>
<p>
            <ul class="lead">
                <li><a href="{{ '/books/supporting-a-column/0-foreword' | url }}">Foreword</a>, by E.W. Tipping</li>
                <li>Chapter one: <a href="{{ '/books/supporting-a-column/1-supporting-a-column' | url }}">Supporting a Column</a></li>
                <li>Chapter two: <a href="{{ '/books/supporting-a-column/2-somewhat-stunted-columns' | url }}">Somewhat stunted columns</a>     </li>
                <li>Chapter three: <a href="{{ '/books/supporting-a-column/3-royal-columns' | url }}">Royal Columns</a>
                </li>
                <li>Chapter four: <a href="{{ '/books/supporting-a-column/4-columns-on-hm-and-hrh' | url }}">Columns on H.M. and H.R.H</a>
                </li>
                <li>Chapter five: <a href="{{ '/books/supporting-a-column/5-the-columns-on-the-road-to-timbertop' | url }}">The Columns on the Road to Timbertop</a>
                </li>
                <li>Chapter six: <a href="{{ '/books/supporting-a-column/6-strictly-personal-columns' | url }}">Strictly Personal Columns</a>
                </li>
                <li>Chapter seven: <a href="{{ '/books/supporting-a-column/7-essentially-worldy-columns/' | url }}">Essentially Worldly Columns</a>
                </li>
                <li>Chapter eight: <a href="{{ '/books/supporting-a-column/8-columns-produced-debonair-style/' | url }}">Columns Produced Debonair Style</a>
                </li>
                <li>Chapter nine: <a href="{{ '/books/supporting-a-column/9-columns-secured-on-the-grapevine/' | url }}">Columns Secured on the Grapevine</a>
                </li>
            </ul>

</p>
</div>