---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/default.njk
eleventyComputed:
  title: Content with keywords “{{ tag }}”
permalink: /keyword/{{ tag | slug }}/
---


{% block content %}
  {% set posts = collections[tag] %}
  {% include 'snippets/postloop.njk' %}
  <br>
  <p>See <a href="{{ '/keyword/' | url }}">all keywords</a>.</p>
{% endblock %}
