---
layout: false
permalink: "/.well-known/tdmrep.json"
eleventyExcludeFromCollections: true
---
[
  {
    "location": "/",
    "tdm-reservation": 1,
    "tdm-policy": "https://keithdunstan.org/licence/"
  }
]
