---
layout: layouts/default.njk
title: 'The Australian Uppercrust Book'
summary: A collection of essays dissecting snobbery across Australian society, with Keith Dunstan contributing the chapter on snobbery in business.
---
<p class="lead">Published in 1971 by Sun Books, 'The Australian Uppercrust Book' is a multi-author collection examining snobbery across Australian life, from business and food to wine and the arts.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/theaustralianuppercrustbook.jpg' | url }}" class="img-fluid" alt="The Australian Uppercrust Book cover">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>A collection of essays examining snobbery in Australian society, with contributors including Ian Moffitt, Max Lake, Sandra Hall, Daphne Guinness and Philip Adams. Keith Dunstan contributed the chapter on snobbery in business.</p>
    <p>Published by Sun Books, 1971.</p>
  </div>
</div>
<hr>
<h2 class="h4">Contents</h2>
<ul>
  <li><a href="{{ '/books/the-australian-uppercrust-book/snobbery-in-business/' | url }}">Snobbery in Business</a></li>
</ul>
