---
layout: layouts/default.njk
title: The Confessions of a Bicycle Nut
summary: Keith's 1999 book on his lifelong passion for cycling, from founding the Bicycle Institute of Victoria to touring by bicycle across the United States and through China.
---
<p class="lead">Published in 1999, Keith's 27th book and the third in his trilogy of memoirs, following <a href="{{ '/no-brains-at-all' | url }}">No Brains At All</a> and <a href="{{ '/my-life-with-the-demon' | url }}">My Life with the Demon</a>.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/confessionsofabicyclenut.jpg' | url }}" class="img-fluid" alt="Cover of the book">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the Author</h2>
    <p>Keith Dunstan is one of Australia's most popular writers. He has written for most of Australia's newspapers and magazines, specialising in exploding public myths, irritating politicians and putting in print the unexpected.</p>
    <p>This is Keith's 27th book. It is the third in a trilogy which began with his autobiography <em>No Brains At All</em> followed by <em>My Life with the Demon</em>.</p>
    <p>Keith continues to write regular articles for <em>The Age</em> and <em>The Bulletin</em>. He is a keen bicyclist, having pedalled across the US, through China and much of Australia, often with his wife Marie.</p>
  </div>
</div>
<hr>
<h2>Acknowledgements</h2>
<p>The first person to thank is my dear wife, Marie Rose. She suffered a bicycle nut which is not easy. She pedalled 20,000 or was it 40,000 kilometres?. There were so many balmy sunny days, but there were times when we had snow, when there were gales, when there were floods and how easy it is to remember the rain, rain which came for four days on end. And, oh, the camping grounds. One remembers K.O.A., Kamping Grounds of America, would you believe. They seemed always to be beside railway line. There were nights when when we counted 122 cars on a goods train, which seemed to pass right through our tent. On a tandem Marie Rose was a wonderful stoker.</p>
<p>There are others. David Dunstan read the script and made so many helpful suggestions. There was Ron Shepherd, who has contributed more than anyone I know to cycling here. Doug Morffew, the historian for Bike Victoria, generously gave his researches on the history of the Great Victorian Bike Ride.</p>
<p>Thank-you too to Charlie and Paul Farren, Phil McKenzie, and Graham Rebbeck. My old mate Jeff Hook, who was with me on so many adventures on the bicycle and many other odd contraptions, gave permission to use his cartoons. How kind it was of Pauline to allow her husband to go off on an American Bike Ride when Sarah Hook was on the way. Weston Bate was another friend. He provided material from his great book 'Light Blue Down Under'.</p>
<p>That inimitable source, the State Library of Victoria, provided almost all the material for the history sections of the book plus the cartoons and photographs for 1880s to 1900. I am grateful also for photographs from the picture libraries of the Herald Sun and the Age. Adrian Benns, who has photographed Dunstans for more than 50 years took that lovely wedding picture of Sarah.</p>
<hr>
<h2>Contents</h2>
<p>The book is in two sections: four chapters telling of a golden, euphoric age in cycling that ran from the 1870s to the turn of the century, followed by nine chapters telling the story of the bicycle re-born a hundred years later.</p>
<ul class="lead">
<li>Chapter One: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/1-how-to-be-a-nut' | url }}">How to be a Nut</a></li>
<li>Chapter Two: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/2-the-love-of-the-wheel' | url }}">The Love of the Wheel</a></li>
<li>Chapter Three: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/3-biking-in-bloomers' | url }}">Biking in Bloomers</a></li>
</ul>
