---
layout: layouts/default.njk
title: 'The Amber Nectar: A Celebration of Beer and Brewing in Australia'
summary: A history of beer and brewing in Australia, from colonial breweries to the country's major modern companies, and the drink's central place in Australian social life.
---
<p class="lead">Published in 1987 by Viking O'Neil, 'The Amber Nectar' is a 236-page illustrated history of beer and brewing in Australia.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>Traces the story of beer in Australia from the colony's earliest breweries through to the twentieth-century rise of the major brewers, and the drink's place at the centre of Australian pub and social life, a theme Dunstan had first explored through the six o'clock swill in <a href="{{ '/my-life-with-the-demon' | url }}">My Life with the Demon</a>.</p>
    <p>Published by Viking O'Neil, 1987. ISBN 0-670-90044-3.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
