---
layout: layouts/default.njk
title: The Paddock That Grew
summary: Keith's first book, about the origins and history of the Melbourne Cricket Ground, tracing its transformation from a swampy paddock beside the Yarra into Australia's premier sporting arena.

---
<p class="lead">Keith's first book, about the origins and history of the Melbourne Cricket Ground, tracing its transformation from a swampy paddock beside the Yarra into Australia's premier sporting arena.</p>
<hr>
<div class="row">
    <div class="col-12 col-md-3">
        <img src="{{ '/img/thepaddockthatgrew.jpg' | url }}" class="img-fluid" alt="Cover of the book">
    </div>
    <div class="col-12 col-md-9">
        <h2 class="h4">From the original dust jacket</h2>
        <p>Published in 1962, The Paddock That Grew tells the story of the Melbourne Cricket Ground, from its beginnings as a stretch of swampy paddock beside the Yarra to its status as one of the world's great sporting arenas. It was revised and republished in 2000 by the M.C.C. trustees under the title <a href="{{ '/the-peoples-ground' | url }}">The People's Ground</a>.</p>
    </div>
</div>
<hr>
<div class="col-12 col-lg-8 offset-lg-2">
<h2>Contents</h2>
<ul class="lead">
<li><a href="{{ '/books/the-paddock-that-grew/1-foreword' | url }}">Foreword</a>, by Sir Edmund Herring</li>
<li><a href="{{ '/books/the-paddock-that-grew/2-introduction' | url }}">Introduction</a></li>
<li>Chapter 1: The Beginning</li>
<li>Chapter 2: The First Cricket Matches</li>
<li>Chapter 3: The M.C.G. is Born</li>
<li>Chapter 4: Mr Stephenson's XI versus Melbourne XVIII</li>
<li>Chapter 5: 'Terrible Billy' Teaches</li>
<li>Chapter 6: The Year of Grace</li>
<li>Chapter 7: The First of the Tests</li>
<li>Chapter 8: The Roaring 'Eighties</li>
<li>Chapter 9: The Return of Grace</li>
<li>Chapter 10: The Cricketing 'Nineties</li>
<li>Chapter 11: Edwardiana at the M.C.G.</li>
<li>Chapter 12: The 1912 Overture</li>
<li>Chapter 13: The Years of War</li>
<li>Chapter 14: The Scoring 'Twenties</li>
<li>Chapter 15: Leg and Other Theories</li>
<li>Chapter 16: Camp Murphy and Camp Ransford</li>
<li>Chapter 17: Post War</li>
<li>Chapter 18: Olympic Year</li>
<li>Chapter 19: May Day</li>
<li>Chapter 20: Brown Magic</li>
<li>Chapter 21: The Other Paddock</li>
<li>Appendix 1: M.C.C. Cricket Club, The XXIX Club, Football, Baseball, Tennis, Lacrosse, Bowls, Rifle Shooting, Hockey, Staff</li>
<li>Appendix 2: M.C.C. Averages</li>
<li>Appendix 3: List of M.C.C. Presidents and Secretaries</li>
<li>Index</li>
</ul>
</div>
<hr>
<div class="col-12 col-lg-10 offset-lg-1">
<h2>Acknowledgements</h2>
<p>In writing this book I am indebted to the late Mr Hugh Field, both for his remarkable knowledge of cricket and for the years of research that he carried out to make this history possible. Special acknowledgement is also given to the Melbourne Cricket Club's magnificent gallery, to Mr Lloyd Brown and to the <em>Herald</em> and the <em>Sun News-Pictorial</em> for photographs.</p>
</div>
