---
layout: layouts/default.njk
title: The Confessions of a Bicycle Nut
summary: Keith's 1999 book on his lifelong passion for cycling, from founding the Bicycle Institute of Victoria to touring by bicycle across the United States and through China.
---
<p class="lead">Published in 1999, Keith's 27th book and the third in his trilogy of memoirs, following <a href="{{ '/no-brains-at-all' | url }}">No Brains At All</a> and <a href="{{ '/my-life-with-the-demon' | url }}">My Life with the Demon</a>.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/confessionsofabicyclenut.jpg' | url }}" class="img-fluid" alt="Cover of the book">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">From the orginal dust jacket</h2>
    {{ "the-confessions-of-a-bicycle-nut" | bookContent("summary.md") | safe }}
  </div>
</div>
<hr>
<h2>Contents</h2>
<p>The book is in two sections: four chapters telling of a golden, euphoric age in cycling that ran from the 1870s to the turn of the century, followed by ten chapters telling the story of the bicycle re-born a hundred years later.</p>
<ul class="lead">
<li>Chapter One: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/1-how-to-be-a-nut' | url }}">How to be a Nut</a></li>
<li>Chapter Two: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/2-the-love-of-the-wheel' | url }}">The Love of the Wheel</a></li>
<li>Chapter Three: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/3-biking-in-bloomers' | url }}">Biking in Bloomers</a></li>
<li>Chapter Four: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/4-the-indefatigables' | url }}">The Indefatigables</a></li>
<li>Chapter Five: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/5-the-racing-wheel' | url }}">The Racing Wheel</a></li>
<li>Chapter Six: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/6-oh-for-a-malvern-star' | url }}">Oh, for a Malvern Star</a></li>
<li>Chapter Seven: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/7-the-born-again-biker' | url }}">The Born-Again Biker</a></li>
<li>Chapter Eight: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/8-bikecentennial-76' | url }}">Bikecentennial '76</a></li>
<li>Chapter Nine: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/9-oregon-to-virginia' | url }}">Oregon to Virginia</a></li>
<li>Chapter Ten: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/10-a-bicycle-built-for-two' | url }}">A Bicycle Built for Two</a></li>
<li>Chapter Eleven: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/11-old-man-river' | url }}">Old Man River</a></li>
<li>Chapter Twelve: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/12-on-the-silk-road' | url }}">On the Silk Road</a></li>
<li>Chapter Thirteen: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/13-the-gvbr' | url }}">The GVBR</a></li>
<li>Chapter Fourteen: <a href="{{ '/books/the-confessions-of-a-bicycle-nut/14-the-auto-fiend' | url }}">The Auto Fiend</a></li>
</ul>
<hr>
<h2>Acknowledgements</h2>
{{ "the-confessions-of-a-bicycle-nut" | bookContent("acknowledgements.md") | safe }}

