---
layout: layouts/default.njk
title: 'Two Old Geezers Tell You About Bridge, the A-Z'
summary: A conversational, plain-English guide to the card game bridge, co-written with cartoonist Jeff Hook late in Dunstan's career.
---
<p class="lead">Published in 2011 by Wilkinson Publishing, 'Two Old Geezers Tell You About Bridge, the A-Z' was co-written with longtime collaborator and cartoonist Jeff Hook.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>An A-Z guide to the card game bridge, presented in the plain-spoken, conversational voice of two old friends explaining the game's rules and conventions. Dunstan's last book with Jeff Hook, who had illustrated many of his earlier titles including <a href="{{ '/a-cricket-dictionary' | url }}">A Cricket Dictionary</a> and <a href="{{ '/hook-line-and-sinker' | url }}">Hook, Line and Sinker</a>.</p>
    <p>Published by Wilkinson Publishing, 2011. ISBN 978-1-921804-30-4.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
