---
layout: layouts/default.njk
title: '1853-2003, Victoria Police Australia: Celebrating 150 Years in the Community'
summary: A pictorial history marking 150 years of Victoria Police, with a foreword by Chief Commissioner Christine Nixon and an introduction by Dunstan.
---
<p class="lead">Published in 2003 by Victoria Police, '1853-2003, Victoria Police Australia' marks the force's 150th anniversary, with an introduction by Keith Dunstan.</p>
<hr>
<div class="row">
  <div class="col-12 col-md-3">
    <img src="{{ '/img/no-cover.svg' | url }}" class="img-fluid" alt="Cover not yet available">
  </div>
  <div class="col-12 col-md-9">
    <h2 class="h4">About the book</h2>
    <p>A pictorial, 166-page history of Victoria Police from its founding in 1853, edited by Marilyn Miller with a foreword by Chief Commissioner Christine Nixon and an introduction written by Dunstan.</p>
    <p>Published by Victoria Police, 2003. ISBN 0-9581712-0-3.</p>
  </div>
</div>
<hr>
<p><em>Chapters from this book have not yet been transcribed. Check back once scans are available.</em></p>
