--- 
layout: layouts/default.njk 
title: Walkabout Magazine 
summary: During the 1960's and 70's Keith wrote for the Australian Travel magazine, Walkabout. 
---
<div class="row">
    <div class="col-12 col-md-3">
        <img src="{{ '/img/walkabout-1969-12.jpg' | url }}" class="img-fluid" alt="Cover of the book">
    </div>
    <div class="col-12 col-md-9">
        <p class="lead">During the 1960's and 70's Keith wrote for the Australian 'Way of Life' magazine, Walkabout.</p>
        <p>An incomplete list of his articles for Walkabout are here.</p>
    </div>
</div>
<div class="row mt-3">
<div class="col-12 col-lg-8 offset-lg-2">
<h4>Articles</h4>

    {% include 'snippets/walkabout.njk' %}  

</div>
</div>