---
layout: layouts/default.njk
title: Wowsers
summary: Keith's third book, published in 1968, documents the prudery of an early Australia aiming to shed its image as a place of convicts and rough behaviour.
---
<p class="lead">
   Keith's third book, published in 1968, documents the prudery of an early Australia aiming to shed its image as a place of convicts and rough behaviour.</p>
<hr>
<div class="row">
    <div class="col-12 col-md-3">
        <img src="{{ '/img/wowsers.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
    </div>
    <div class="col-12 col-md-9">
        <h3 class="h5"> From the original dust jacket </h3>
        {{ "wowsers" | bookContent("summary.md") | safe }}
    </div>
</div>
<hr>
<h2>Contents</h2>
<ul class="lead">
<li><a href="{{ '/books/wowsers/0-introduction' | url }}">Introduction</a></li>
<li>Chapter 1: <a href="{{ '/books/wowsers/1-wowser/' | url }}">Wowser</a></li>
<li>Chapter 2: <a href="{{ '/books/wowsers/2-the-evil-of-the-desecration-of-the-sabbath/' | url }}">The Evil of the Desecration of the Sabbath</a></li>
<li>Chapter 3: <a href="{{ '/books/wowsers/3-the-evil-of-the-demon-drink/' | url }}">The Evil of the Demon Drink</a>
    <ul>
        <li><a href="{{ '/books/wowsers/3-the-evil-of-the-demon-drink/' | url }}#the-sots">The Sots</a></li>
        <li><a href="{{ '/books/wowsers/3-the-evil-of-the-demon-drink/' | url }}#the-glorious-days-of-abstinence">The Glorious Days of Abstinence</a></li>
        <li><a href="{{ '/books/wowsers/3-the-evil-of-the-demon-drink/' | url }}#the-seductive-lures">The Seductive Lures</a></li>
        <li><a href="{{ '/books/wowsers/3-the-evil-of-the-demon-drink/' | url }}#prohibition">Prohibition</a></li>
        <li><a href="{{ '/books/wowsers/3-the-evil-of-the-demon-drink/' | url }}#sober-by-law">Sober by Law</a></li>
        <li><a href="{{ '/books/wowsers/3-the-evil-of-the-demon-drink/' | url }}#six-oclock-closing">Six O'Clock Closing</a></li>
    </ul>
</li>
<li>Chapter 4: <a href="{{ '/books/wowsers/4-the-evil-of-smoking/' | url }}">The Evil of Smoking</a></li>
<li>Chapter 5: <a href="{{ '/books/wowsers/5-the-theatre-evil-and-the-evil-of-dancing/' | url }}">The Theatre Evil and the Evil of Dancing</a></li>
<li>Chapter 6: <a href="{{ '/books/wowsers/6-the-evil-of-bathing/' | url }}">The Evil of Bathing</a></li>
<li>Chapter 7: <a href="{{ '/books/wowsers/7-the-evil-of-cremation/' | url }}">The Evil of Cremation</a></li>
<li>Chapter 8: <a href="{{ '/books/wowsers/8-the-evil-of-the-social-evil/' | url }}">The Evil of the Social Evil</a></li>
<li>Chapter 9: <a href="{{ '/books/wowsers/9-the-evil-of-the-printed-word/' | url }}">The Evil of the Printed Word</a></li>
<li>Chapter 10: <a href="{{ '/books/wowsers/10-the-gambling-evil/' | url }}">The Gambling Evil</a>
    <ul>
        <li><a href="{{ '/books/wowsers/10-the-gambling-evil/' | url }}#the-collingwood-tote">The Collingwood Tote</a></li>
        <li><a href="{{ '/books/wowsers/10-the-gambling-evil/' | url }}#the-worrall-affair">The Worrall Affair</a></li>
        <li><a href="{{ '/books/wowsers/10-the-gambling-evil/' | url }}#the-triumph-of-william-henry-judkins">The Triumph of William Henry Judkins</a></li>
        <li><a href="{{ '/books/wowsers/10-the-gambling-evil/' | url }}#totes-bookies-and-sp-men">Totes, Bookies and S.P. Men</a></li>
        <li><a href="{{ '/books/wowsers/10-the-gambling-evil/' | url }}#the-evil-of-tattersalls">The 'Evil' of Tattersall's</a></li>
    </ul>
</li>
</ul>
<hr>
<div class="col-12 col-lg-10 offset-lg-1">
    <h2>Acknowledgements</h2>
    {{ "wowsers" | bookContent("acknowledgements.md") | safe }}
</div>
<!--
<hr>
Needs text to complete
<h2>Notes on sources</h2>

<hr>
<h2>Topics in this book</h2>
-->