---
layout: layouts/default.njk
title: Wowsers
summary: Keith's third book, published in 1968, documents the prudery of an early Australia aiming to shed its image as a place of convicts and rough behaviour.
---
<p class="lead">
   Keith's third book, published in 1968, documents the prudery of an early Australia aiming to shed its image as a place of convicts and rough behaviour.</p>
<hr>
<div class="row">
    <div class="col-12 col-md-3">
        <img src="{{ '/img/wowsers.jpg' | url }}" class="img-fluid" alt="Cover of the  book">
    </div>
    <div class="col-12 col-md-9">
        <h3 class="h5"> From the original dust jacket </h3>
        <p>Delightfully but ruthlessly, Wowsers destroys the illusion that Australians were always rough, tough, independent and haters of discipline. </p>
        <p>The truth is that they revelled in prudery and have a remarkable history of censorship of all kinds, Wherever there has been the slightest excuse for it, there have been wowsers: killjoys, prudes, zealous reformers. Keith Dunstan's fascinating and thoroughly entertaining exposé traces the remarkable influence wowserism has had on the character of cities like Melbourne and Adelaide, and on many aspects of life in other capital cities. 
           </p> 
           <p>In these pages, Keith relates astonishing examples of wowserism in all its forms: drink, barmaids, smoking, dancing, the theatre, prostitution, gambling (from two-up to lotteries) and, of course, there is special mention of Australia's unique attitude to literary censorship.
      </p>
    </div>
</div>
<hr>
<h2>Contents</h2>
<ul class="lead">
<li><a href="{{ '/books/wowsers/0-introduction' | url }}">Introduction</a></li>
<li>Chapter 1: <a href="{{ '/books/wowsers/1-wowser/' | url }}">Wowser</a></li>
<li>Chapter 2: <a href="{{ '/books/wowsers/2-the-evil-of-the-desecration-of-the-sabbath/' | url }}">The Evil of the Desecration of the Sabbath</a></li>
<li>Chapter 3: <a href="{{ '/books/wowsers/3-the-evil-of-the-demon-drink/' | url }}">The Evil of the Demon Drink</a>
    <ul>
        <li>The Sots</li>
        <li>The Glorious Days of Abstinence</li>
        <li>The Seductive Lures</li>
        <li>Prohibition</li>
        <li>Sober by Law</li>
        <li>Six O'Clock Closing</li>
    </ul>
</li>
<li>Chapter 4: <a href="{{ '/books/wowsers/4-the-evil-of-smoking/' | url }}">The Evil of Smoking</a></li>
<li>Chapter 5: <a href="{{ '/books/wowsers/5-the-theatre-evil-and-the-evil-of-dancing/' | url }}">The Theatre Evil and the Evil of Dancing</a></li>
<li>Chapter 6: <a href="{{ '/books/wowsers/6-the-evil-of-bathing/' | url }}">The Evil of Bathing</a></li>
<li>Chapter 7: <a href="{{ '/books/wowsers/7-the-evil-of-cremation/' | url }}">The Evil of Cremation</a></li>
<li>Chapter 8: <a href="{{ '/books/wowsers/8-the-evil-of-the-social-evil/' | url }}">The Evil of the Social Evil</a></li>
<li>Chapter 9: <a href="{{ '/books/wowsers/9-the-evil-of-the-printed-word/' | url }}">The Evil of the Printed Word</a></li>
<li>Chapter 10: <a href="{{ '/books/wowsers/10-the-gambling-evil/' | url }}">The Gambling Evil</a>
    <ul>
        <li>The Collingwood Tote</li>
        <li>The Worrall Affair</li>
        <li>The Triumph of William Henry Judkins</li>
        <li>Totes, Bookies and S.P. Men</li>
        <li>The 'Evil' of Tattersall's</li>
    </ul>
</li>
</ul>
<hr>
<div class="col-12 col-lg-10 offset-lg-1">
    <h2>Acknowledgements</h2>
    <p>Much of the research for this book was done by Philip Garrett. He will never receive sufficient credit for the number of books which he researches, guides and brings into being through his remarkable knowledge of Australian history. This one was no exception and every chapter was improved by his ability to produce off-beat information for which there are no guides, no indexes. He knew the sources through his great experience.</p>
    <p>I also wish to thank the staff of the La Trobe Library, Melbourne (now State Library of Victoria), who gave an inept amateur so much help, far beyond the call of duty. Roy Weston also made available his time and the files of the library of the Herald & Weekly Times Ltd. Many others gave their advice and assistance, including Geoffrey Blainey, Peter Coleman and Cyril Pearl. Dr F. B. Smith made available his thesis 'The Sunday Observance Controversy', Mr Anthony A. Rendell gave permission to use his thesis 'The Punter in Paradise' and Mrs Christine Chinner her thesis Earthly Paradise--A Social History of Adelaide in the Early 18gos'. Messrs Wilke and Company gave permission to quote several extracts from George Meudell's The Pleasant Career of a Spendthrift.</p>
    <p>I am indebted also to Mr E. Cole Turnley for pictures from Cole's Funny Picture Book No. I, and other works by his remarkable grandfather. The Bulletin, Sydney, for more than 80 years our most potent anti-wowser organization, gave permission to use the majority of illustrations in this book.</p>
</div>
<!--
<hr>
Needs text to complete
<h2>Notes on sources</h2>

<hr>
<h2>Topics in this book</h2>
-->