---
layout: layouts/blog.njk
title: Writing
pagination:
    data: collections.post
    size: 3
    reverse: true
    alias: posts
---

<p class="lead">Below is a selection of Keith's articles and book chapters from 1960-1990.</p>
